In [ ]:
variable are used to store data / hold values
python is dynamically typed language i.e. no need to define data types.

# Data Types

In [ ]:
Numeric >> int, float, complex.
text >> str
sequence >> list, tuple,range, set, frozenset
mapping >> dict >> { 'Name': "Rahul", 'age': 19}
set datatypes >>set, frozenset
boolean >> bool (True/ False)
Nonetype>> None

In [1]:
x = "Velocity Python & DS"
type(x) #str

str

In [2]:
a = 20
type(a) # int

int

In [3]:
b = 20.5
type(b)

float

In [4]:
c = 6+8j
type(c)

complex

In [5]:
v = ['mango', 'tree',20]
type(v)

list

In [6]:
n = ('mango', 'tree',20)
type(n)

tuple

In [7]:
z = range(10)
type(z)

range

In [8]:
s = {'Name': "Rahul", 'age': 19}
type(s)

dict

In [9]:
rahul = {'mango', 'tree',20}
type(rahul)

set

In [10]:
g = frozenset({'mango', 'tree',20})
type(g)

frozenset

In [16]:
w = False
print(type(w))

<class 'bool'>

In [13]:
var = None
type(var)

NoneType

# Python Type Casting

In [ ]:
>> used to specify variable type
>> to change data type of variable

In [ ]:
int
float
complex

int to float
float to int
int to complex 
float to complex

# 1. int to float

In [15]:
a= 45
b = float(a)
print('a=',a, type(a)) #  a=45 int
print('b=',b, type(b)) # b= 45.0 float

a= 45 <class 'int'>
b= 45.0 <class 'float'>

In [24]:
A= 12457895
b = float(A)
print('A >> ',A, type(A)) 
print('b===',b, type(b))

A >>  12457895 <class 'int'>
b=== 12457895.0 <class 'float'>

# 2. float to int

In [30]:
a= 45.9999999999999
b= int(a)
print('a=',a, type(a))
print('b=',b, type(b))

a= 45.9999999999999 <class 'float'>
b= 45 <class 'int'>

In [29]:
a= 3.14
b= int(a)
print('a=',a, type(a))
print('b=',b, type(b))

a= 3.14 <class 'float'>
b= 3 <class 'int'>

# 3. int to complex

In [31]:
a= 4
b= complex(a)
print('a=',a, type(a))  #4, int
print('b=',b, type(b))  # 4+0j,   4+j   complex

a= 4 <class 'int'>
b= (4+0j) <class 'complex'>

In [32]:
a= -44
b= complex(a)
print('a=',a, type(a))
print('b=',b, type(b))

a= -44 <class 'int'>
b= (-44+0j) <class 'complex'>

# 4. float to complex

In [34]:
a= -56.5
b= complex(a)
print('a=',a, type(a))
print('b=',b, type(b))

a= -56.5 <class 'float'>
b= (-56.5+0j) <class 'complex'>

In [38]:
a= 56.5
b= complex(a)
print('a=',a, type(a))
print('b=',b, type(b))

a= 56.5 <class 'float'>
b= (56.5+0j) <class 'complex'>

# 5. complex to int

In [36]:
TypeError: can't convert complex to int

complex

In [39]:
a= 5+6j
b= int(a)
print('a=',a, type(a))
print('b=',b, type(b))

TypeError: can't convert complex to int

# 6. complex to float

In [40]:
a= 5+6j
b= float(a)
print('a=',a, type(a))
print('b=',b, type(b))

TypeError: can't convert complex to float

# 7. int to string

In [41]:
a= 55
b= str(a)
print('a=',a, type(a)) #55,int
print('b=',b, type(b)) #'55', str

a= 55 <class 'int'>
b= 55 <class 'str'>

In [44]:
a= 124578953
b= str(a)
print('a=',a, type(a))
print('b=',b, type(b))

a= 124578953 <class 'int'>
b= 124578953 <class 'str'>

# 8. float to string

In [46]:
a= 55.6
b= str(a)
print('a=',a, type(a))
print('b=',b, type(b))
b

a= 55.6 <class 'float'>
b= 55.6 <class 'str'>

'55.6'

In [48]:
a= 5+6j
b= str(a)
print('a=',a, type(a))
print('b=',b, type(b))
b

a= (5+6j) <class 'complex'>
b= (5+6j) <class 'str'>

'(5+6j)'

# 9. string to int

In [50]:
string1 = '1234'
b = int(string1)
print('a=',string1, type(string1))
print('b=',b, type(b))

a= 1234 <class 'str'>
b= 1234 <class 'int'>

In [56]:
string1 = '1234'
b = int(string1)
print('a=',string1, type(string1))
print('b=',b, type(b))

a= 1234 <class 'str'>
b= 1234 <class 'int'>

In [62]:
d= '4'
g= '5'
g+d #45 #error

'54'

In [58]:
d= '4'
g= '5'
int(d)+int(g)

9

# string to float

In [63]:
a= '3.145'
b = float(a)
print('a=',a, type(a))
print('b=',b, type(b))

a= 3.145 <class 'str'>
b= 3.145 <class 'float'>

In [64]:
a= '3145'
b = float(a)
print('a=',a, type(a))
print('b=',b, type(b))

a= 3145 <class 'str'>
b= 3145.0 <class 'float'>