# List

In [ ]:
list is a collection of items
we can add any datatypes in list
datatypes>> int, float, str, complex, list, dict, tuple, frozenset, numpy array, pandas dataframes
pandas series

### Properties of list data type

In [ ]:
1. lists are mutable >> changaeble (add, delete,update)
2. it is an ordered datatypes.
3. Duplicate items are allowed.
4. lists are enclosed by []
5. list items are comma seperated

In [ ]:
Mutable >> we can change, add, remove items in list
Ordered >> list items have a defined order and that order will not change
Allow Duplicates >> since list are indexed, list can have items with same value

In [1]:
list1 = [1,2,2.3,'python',20,2+5j]
list1

[1, 2, 2.3, 'python', 20, (2+5j)]

In [2]:
type(list1)

list

In [3]:
len(list1)

6

In [4]:
list1 = [1,2,2.3,'python',20,2+5j]
list1

[1, 2, 2.3, 'python', 20, (2+5j)]

In [5]:
set1 = {1,2,2.3,'python',20,2+5j}
set1

{(2+5j), 1, 2, 2.3, 20, 'python'}

In [6]:
l1 = [1,2]
len(l1)

2

In [7]:
type(l1)

list

In [8]:
set1 = {1,2,2.3,'python',20,2+5j}
type(set1)

set

In [16]:
set1 = {1,2,2.3,'python',20,2+5j, 'python', 2+8j, 3.6,20}
print(len(set1))
set1

8

{(2+5j), (2+8j), 1, 2, 2.3, 20, 3.6, 'python'}

In [17]:
l2 = [1,2,2.3,'python',20,2+5j, 'python', 2+8j, 3.6,20]
print(len(l2))
l2

10

[1, 2, 2.3, 'python', 20, (2+5j), 'python', (2+8j), 3.6, 20]

In [20]:
l3 = ['d', 'a', 't','a']
print(len(l3))
l3

4

['d', 'a', 't', 'a']

In [19]:
l3 = ['da', 't','a']
print(len(l3))
l3

3

['da', 't', 'a']

# Indexing

In [ ]:
index will starts from zero

In [25]:
list1 = ['d', 'a', 't','a']
print(len(list1))
list1[0]
# list1[1]

4

'd'

In [24]:
list1 = [1,2,3,4,5,6,7]
len(list1)

7

In [ ]:
list1      =   [1,  2,   3,  4,   5]

+ve index       0   1    2   3    4
-ve index      -5  -4   -3   -2   -1

In [28]:
list1 = [1,2,3,4,5]
print(len(list1))
print(list1[1])
print(list1[-4])

5
2
2

In [27]:
list1[-1] #last indexed item

5

In [32]:
list1 = [1,2,3,4,5]
print(list1)
list1[1]=8
print(len(list1))
print(list1[1])
print(list1[-4])
print(list1)

[1, 2, 3, 4, 5]
5
8
8
[1, 8, 3, 4, 5]

# Slicing

In [ ]:
[start_index(included): end_index(excluded): step_size]

In [ ]:
Default start index >> 0
Default end index   >> len('list')

In [37]:
list1 = [1,5,'data',500,3.14,'machine learning']
print(len(list1))
list1[5]

6

'machine learning'

In [38]:
list1 = [1,5,'data',500,3.14,'machine learning',20,30]

In [39]:
list1[2:5]

['data', 500, 3.14]

In [40]:
list1[:6:2]

[1, 'data', 3.14]

In [41]:
list1[:]

[1, 5, 'data', 500, 3.14, 'machine learning', 20, 30]

In [43]:
list2 = [1,2,3,4,5,6,7,8,9,10,1,2,4,5,2]
print(list2[1:6])
print(list2[-7:-2])
print(list2[1:-2])
print(list2[:8:3])

[2, 3, 4, 5, 6]
[9, 10, 1, 2, 4]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 4]
[1, 4, 7]

In [47]:
list2 = [1,2,3,4,5,6,7,8,9,10,1,2,4,5,2]
print(list2[:len(list2)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 4, 5, 2]

In [48]:
list2 = [1,2,3,4,5,6,7,8,9,10,1,2,4,5,2]
print(list2[0:len(list2)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 4, 5, 2]

In [53]:
list2 = [1,2,3,4,5,6,7,8,9,10,1,2,4,5,2]
print(len(list2))
print(list2[14])

15
2

In [68]:
list2 = [1,2,3,4,5,6,7,8,9,10,1,2,4,5,2]
list2[::-1] #Reverse list

[2, 5, 4, 2, 1, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [61]:
list2 = [1,2,3,4,5,6,7,8,9,10,1,2,4,5,2]
list2[2:-2:]

[3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 4]

In [55]:
list1 = [1,5,'data',500,3.14,'machine learning',20,30]
type(list1)

list

In [56]:
type(list1[2])

str

In [57]:
type(list1[4])

float

# Access list items by using for loop

In [ ]:
for variable in sequence:
    statement1
    statement2

In [70]:
list2 = [1,2,3,4,5,6]

for val in list2:
    print(val)

1
2
3
4
5
6

In [78]:
list2 = [1,2,3,4,5,6]

for item in list2:
    print(item,end= " ")
# print(list2)

1 2 3 4 5 6

In [79]:
list2 = [1,2,3,4,5,6]

for item in list2:
    print(item)
# print(list2)

1
2
3
4
5
6

In [77]:
city_names = ['pune', 'ahemadnagar', 'mumbai','amravati']

for city_name in city_names:
    print('city name is ',city_name)

city name is  pune
city name is  ahemadnagar
city name is  mumbai
city name is  amravati

In [80]:
city_names = ['pune', 'ahemadnagar', 'mumbai','amravati']

for city_name in city_names:
    print('city name is ',city_name)
    print("*"*40)

city name is  pune
****************************************
city name is  ahemadnagar
****************************************
city name is  mumbai
****************************************
city name is  amravati
****************************************

In [82]:
city_names = ['pune', 'ahemadnagar', 'mumbai','amravati']

for hitesh in city_names:
    print('city name is ',hitesh.upper())
    print("*"*70)

city name is  PUNE
**********************************************************************
city name is  AHEMADNAGAR
**********************************************************************
city name is  MUMBAI
**********************************************************************
city name is  AMRAVATI
**********************************************************************

# enumerate()

In [83]:
city_names = ['pune', 'ahemadnagar', 'mumbai','amravati']
for index,city in enumerate(city_names):
    print(index)

0
1
2
3

In [84]:
city_names = ['pune', 'ahemadnagar', 'mumbai','amravati']
for index,city in enumerate(city_names):
    print(city)

pune
ahemadnagar
mumbai
amravati

In [85]:
city_names = ['pune', 'ahemadnagar', 'mumbai','amravati']
for index,city in enumerate(city_names):
    print(index,city)

0 pune
1 ahemadnagar
2 mumbai
3 amravati

In [86]:
city_names = ['pune', 'ahemadnagar', 'mumbai','amravati']
for index,city in enumerate(city_names):
    print(f"index is {index} and city name is {city}")

index is 0 and city name is pune
index is 1 and city name is ahemadnagar
index is 2 and city name is mumbai
index is 3 and city name is amravati

In [87]:
city_names = ['pune', 'ahemadnagar', 'mumbai','amravati']
for index,city in enumerate(city_names):
    print(f"city at index {index}  is {city}")

city at index 0  is pune
city at index 1  is ahemadnagar
city at index 2  is mumbai
city at index 3  is amravati

In [88]:
city_names = ['pune', 'ahemadnagar', 'mumbai','amravati']
for index,city in enumerate(city_names):
    print(f"city at index {index}  is {city}")
    print("*"*80)

city at index 0  is pune
********************************************************************************
city at index 1  is ahemadnagar
********************************************************************************
city at index 2  is mumbai
********************************************************************************
city at index 3  is amravati
********************************************************************************

In [90]:
city_names = ['pune', 'ahemadnagar', 'mumbai','amravati']
for index,city in enumerate(city_names):
    print(f"city at index {index}  is {city}")
    print("@"*80)

city at index 0  is pune
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
city at index 1  is ahemadnagar
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
city at index 2  is mumbai
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
city at index 3  is amravati
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

# List Constructor

In [124]:
t1= (1,2,'a',4,5)
type(t1)

tuple

In [125]:
l3 = list(t1)
l3

[1, 2, 'a', 4, 5]

In [93]:
t1= {1,2,5,4,5}
type(t1)

set

In [94]:
l4 = list(t1)
l4

[1, 2, 4, 5]

In [95]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [96]:
list(range(5,50,5))

[5, 10, 15, 20, 25, 30, 35, 40, 45]

In [97]:
list(range(10,21,2))

[10, 12, 14, 16, 18, 20]

In [99]:
list(range(11,21,3))

[11, 14, 17, 20]

# 1. Append()

In [ ]:
used add items in list
item will be added at last position
it takes only one argument
list_name.append(item)

In [100]:
l1 = [2,3,5]
print(l1)

[2, 3, 5]

In [101]:
l1.append(50)
print(l1)

[2, 3, 5, 50]

In [102]:
l1 = [2,3,5]
print(l1)
l1.append('data science')
print(l1)

[2, 3, 5]
[2, 3, 5, 'data science']

In [103]:
l1 = [2,3,5]
print(l1)
l1.append(100)
print(l1)

[2, 3, 5]
[2, 3, 5, 100]

In [106]:
l1 = [2,3,5]
print(l1)
l1.append(100,'data science')
print(l1)

[2, 3, 5]

TypeError: append() takes exactly one argument (2 given)

In [107]:
even_numbers = [] #initilise

for i in range(10,40,2):
    even_numbers.append(i)
    print(even_numbers)

[10]
[10, 12]
[10, 12, 14]
[10, 12, 14, 16]
[10, 12, 14, 16, 18]
[10, 12, 14, 16, 18, 20]
[10, 12, 14, 16, 18, 20, 22]
[10, 12, 14, 16, 18, 20, 22, 24]
[10, 12, 14, 16, 18, 20, 22, 24, 26]
[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32]
[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34]
[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36]
[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [108]:
sqrs = [] #initilise

for i in range(11,21):
    sqrs.append(i**2)
    print(sqrs)

[121]
[121, 144]
[121, 144, 169]
[121, 144, 169, 196]
[121, 144, 169, 196, 225]
[121, 144, 169, 196, 225, 256]
[121, 144, 169, 196, 225, 256, 289]
[121, 144, 169, 196, 225, 256, 289, 324]
[121, 144, 169, 196, 225, 256, 289, 324, 361]
[121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [109]:
sqrs = [] #initilise

for i in range(11,21):
    print(i**2)

121
144
169
196
225
256
289
324
361
400

In [110]:
sqrs = [] #initilise

for i in range(11,21):
    sqrs.append(i**2)
print(sqrs)

[121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

# 2. extend()

In [ ]:
it is used to join two list

In [111]:
l1 = [1,3,5,2]
l2 = ['f','a',3.9,2]
print(len(l1))
print(len(l2))
l1.extend(l2)
print(l1)

4
4
[1, 3, 5, 2, 'f', 'a', 3.9, 2]

In [113]:
l1 = [1,3,5,2]
l2 = ['f','a',3.9,2]
print(len(l1))
print(len(l2))
l1 +l2

4
4

[1, 3, 5, 2, 'f', 'a', 3.9, 2]

In [118]:
l1 = [1,3,5,2]
t1 = (1,2,3)
print(type(l1))
print(type(t1))
l1.extend(t1)
print(type(l1))
print(l1)

<class 'list'>
<class 'tuple'>
<class 'list'>
[1, 3, 5, 2, 1, 2, 3]

In [122]:
list1 = [2,3,'python']
tuple1 = (3,'data')
list1.append(tuple1)
print(list1)
len(list1)

[2, 3, 'python', (3, 'data')]

4

In [123]:
list1 = [2,3,'python']
tuple1 = (3,'data')
list1.extend(tuple1)
print(list1)
len(list1)

[2, 3, 'python', 3, 'data']

5