# List Functions

In [ ]:
1. append()
2. extend()
3. insert()
4. remove()
5. pop()
6. clear()
7. sort()
8. reverse()
9. index()
10. count()
11. copy()

Built-in functions:
    1. sorted()
    2. reversed()
    3. min()
    4. max()
    5. sum()

### 1. append

In [84]:
var1 = [3,4,5]
var2 = [10,8,9]
y =var1.append(var2)
var1

[3, 4, 5, [10, 8, 9]]

In [3]:
var1 = [3,4,5]
var2 = [10,8,9]
var1.extend(var2)
var1

[3, 4, 5, 10, 8, 9]

### 2. extend()

In [4]:
var1 = [3,4,5]
var2 = [10,8,9]
var1.extend(var2)
var1

[3, 4, 5, 10, 8, 9]

### 3. insert()

In [ ]:
variable_name.insert(index, value)

In [6]:
var1 = [3,4,5]
var1.insert(1,'data')
var1

[3, 'data', 4, 5]

In [7]:
var1 = [3,4,5]
var1.append('data')
var1

[3, 4, 5, 'data']

In [8]:
var1 = [3,4,5]
var1.insert(0,'data')
var1

['data', 3, 4, 5]

In [10]:
var1 = [3,4,5]
var1.insert(len(var1),'data')
var1

[3, 4, 5, 'data']

# to Delete items from list

1. remove
2. pop()
3. clear()

### 1. remove()

In [ ]:
variable_name.remove(item)

In [12]:
var2= [3, 4, 5, 'data',10,10.5]
var2

[3, 4, 5, 'data', 10, 10.5]

In [14]:
var2.remove(4)
var2

[3, 5, 'data', 10, 10.5]

In [16]:
var2= [3, 4, 5, 'data',10,10.5]
var2.remove('data')
var2

[3, 4, 5, 10, 10.5]

In [17]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
sub_names

['Phy', 'Che', 'Math', 'Eng', 'Bio']

In [18]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
sub_names.remove('Che')
sub_names

['Phy', 'Math', 'Eng', 'Bio']

In [19]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
sub_names.remove('bio')
sub_names

ValueError: list.remove(x): x not in list

In [20]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
sub_names.remove('Bio')
sub_names

['Phy', 'Che', 'Math', 'Eng']

In [21]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
val = 'Math'
if val in sub_names:
    sub_names.remove(val)
    print("item Deleted")
else:
    print("item not found")

item Deleted

In [22]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
val = 'Geo'
if val in sub_names:
    sub_names.remove(val)
    print("item Deleted")
else:
    print("item not found")

item not found

In [23]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
sub_names.remove(sub_names[1])
sub_names

['Phy', 'Math', 'Eng', 'Bio']

In [25]:
var2= [3, 4, 5, 'data',10,10.5]
var2.remove(var2[3])
var2

[3, 4, 5, 10, 10.5]

### 2. pop()

In [ ]:
variable_name.pop(index)
by default it will remove last indexed item

In [26]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
sub_names.pop()
sub_names

['Phy', 'Che', 'Math', 'Eng']

In [27]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
sub_names.pop(1)
sub_names

['Phy', 'Math', 'Eng', 'Bio']

In [28]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
sub_names.pop(0)
sub_names

['Che', 'Math', 'Eng', 'Bio']

In [29]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
sub_names.pop(4)
sub_names

['Phy', 'Che', 'Math', 'Eng']

In [30]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
sub_names.pop(3)
sub_names

['Phy', 'Che', 'Math', 'Bio']

### 3. clear()

In [ ]:
variable_name.clear()
it will delete all list items

In [33]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
sub_names.clear(2)
sub_names

TypeError: clear() takes no arguments (1 given)

In [34]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
sub_names.clear()
sub_names

[]

### 4. del keyword

In [35]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
del sub_names[2]
sub_names

['Phy', 'Che', 'Eng', 'Bio']

In [36]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
del sub_names
sub_names

NameError: name 'sub_names' is not defined

In [37]:
string = 'python'
del string
string

NameError: name 'string' is not defined

In [38]:
string = 'python'
del string[2] #Immutable
string

TypeError: 'str' object doesn't support item deletion

In [39]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
sub_names[0]

'Phy'

In [40]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
sub_names[-1]

'Bio'

In [41]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
sub_names[0] = sub_names[-1],sub_names[0]
sub_names

[('Bio', 'Phy'), 'Che', 'Math', 'Eng', 'Bio']

In [42]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
sub_names[0] = sub_names[-1]
sub_names

['Bio', 'Che', 'Math', 'Eng', 'Bio']

In [43]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
sub_names[0],sub_names[-1] = 'Bio', "Phy"
sub_names

['Bio', 'Che', 'Math', 'Eng', 'Phy']

In [44]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
sub_names[0],sub_names[-1] = sub_names[-1],sub_names[0]
sub_names

['Bio', 'Che', 'Math', 'Eng', 'Phy']

In [46]:
x = 5,6
print(x)
type(x)

(5, 6)

tuple

In [47]:
x,y = 5,6
print(x)
print(y)
type(x)

5
6

int

# sorting

## 1. sort()

#### 1.1 Ascending  order

In [48]:
list2 = [7,8,6,4,3,2]
list2.sort()
list2

[2, 3, 4, 6, 7, 8]

In [49]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
sub_names.sort()
sub_names

['Bio', 'Che', 'Eng', 'Math', 'Phy']

In [51]:
fruit = ['Kiwi', 'banana', 'Orange', 'Apple', 'Dragonfruit', 'cherry']

fruit.sort()
fruit

['Apple', 'Dragonfruit', 'Kiwi', 'Orange', 'banana', 'cherry']

In [52]:
fruit = ['Kiwi', 'banana', 'Orange', 'Apple', 'Dragonfruit', 'cherry']

fruit.sort(key =str.lower)
fruit

['Apple', 'banana', 'cherry', 'Dragonfruit', 'Kiwi', 'Orange']

#### 1.2 Descending order

In [54]:
list2 = [7,8,6,4,3,2]
list2.sort(reverse = True)
list2

[8, 7, 6, 4, 3, 2]

In [55]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
sub_names.sort(reverse = True)
sub_names

['Phy', 'Math', 'Eng', 'Che', 'Bio']

In [56]:
fruit = ['Kiwi', 'banana', 'Orange', 'Apple', 'Dragonfruit', 'cherry']

fruit.sort(key =str.lower,reverse = True)
fruit

['Orange', 'Kiwi', 'Dragonfruit', 'cherry', 'banana', 'Apple']

# sorted()

In [ ]:
sorted(iterable, key, reverse=False)

In [58]:
list2 = [7,8,6,4,3,2]
x=sorted(list2)
x

[2, 3, 4, 6, 7, 8]

In [59]:
list2 = [7,8,6,4,3,2]
x=sorted(list2,reverse= True)
x

[8, 7, 6, 4, 3, 2]

In [60]:
fruit = ['Kiwi', 'banana', 'Orange', 'Apple', 'Dragonfruit', 'cherry']
result = sorted(fruit,key =str.lower,reverse = True)
result

['Orange', 'Kiwi', 'Dragonfruit', 'cherry', 'banana', 'Apple']

In [63]:
fruit = ['Kiwi', 'banana', 'Orange', 'Apple', 'Dragonfruit', 'cherry']
result = sorted(fruit,key =str.upper,reverse = False)
print(result)
print(fruit)

['Apple', 'banana', 'cherry', 'Dragonfruit', 'Kiwi', 'Orange']
['Kiwi', 'banana', 'Orange', 'Apple', 'Dragonfruit', 'cherry']

# Reverse()

In [65]:
list2 = [7,8,6,4,3,2]
list2[::-1]

[2, 3, 4, 6, 8, 7]

In [67]:
list2 = [7,8,6,4,3,2]
list2.reverse()
list2

[2, 3, 4, 6, 8, 7]

In [68]:
fruit = ['Kiwi', 'banana', 'Orange', 'Apple', 'Dragonfruit', 'cherry']
fruit.reverse()
fruit

['cherry', 'Dragonfruit', 'Apple', 'Orange', 'banana', 'Kiwi']

# reversed()

In [69]:
list2 = [7,8,6,4,3,2]
x =list(reversed(list2))
x

[2, 3, 4, 6, 8, 7]

In [70]:
list2 = [7,8,6,4,3,2]
x =tuple(reversed(list2))
x

(2, 3, 4, 6, 8, 7)

# index()

In [72]:
list2 = [7,8,6,4,3,2]
index = list2.index(6)
print("index is ", index)

index is  2

In [73]:
fruit = ['Kiwi', 'banana', 'Orange', 'Apple', 'Dragonfruit', 'cherry']
x = fruit.index('Orange')
print("index is ", x)

index is  2

# count()

In [85]:
list2 = [7,8,6,4,3,2,4]
list2.count(4)

2

In [86]:
list2 = [7,8,6,4,5,5,5,5,5,53,2,4]
list2.count(5)

5

In [88]:
fruit = ['Kiwi', 'banana', 'Orange', 'Apple', 'Dragonfruit', 'cherry','banana']
fruit.count('banana')

2

# copy()

In [89]:
list1 = [7,8,6,4,3,2,4]
list2 = list1
print(list1)
print(list2)

[7, 8, 6, 4, 3, 2, 4]
[7, 8, 6, 4, 3, 2, 4]

In [92]:
list1 = [7,8,6,4,3,2,4]
list2 = list1
print(list1)
print(list2)
print('*'*50)
list2.append(100)
print(list1)
print(list2)

[7, 8, 6, 4, 3, 2, 4]
[7, 8, 6, 4, 3, 2, 4]
**************************************************
[7, 8, 6, 4, 3, 2, 4, 100]
[7, 8, 6, 4, 3, 2, 4, 100]

In [93]:
list1 = [7,8,6,4,3,2,4]
list2 = list1.copy() #shallow copy
print(list1)
print(list2)
print('*'*50)
list2.append(100)      
print(list1)
print(list2)

[7, 8, 6, 4, 3, 2, 4]
[7, 8, 6, 4, 3, 2, 4]
**************************************************
[7, 8, 6, 4, 3, 2, 4]
[7, 8, 6, 4, 3, 2, 4, 100]

In [94]:
list1 = [7,8,6,4,3,2,4]
list2 = list1.copy() #shallow copy
print(list1)
print(list2)
print('*'*50)
list2.append('python')      
print(list1)
print(list2)

[7, 8, 6, 4, 3, 2, 4]
[7, 8, 6, 4, 3, 2, 4]
**************************************************
[7, 8, 6, 4, 3, 2, 4]
[7, 8, 6, 4, 3, 2, 4, 'python']

# Nested List

In [ ]:
list in list

In [95]:
list1 = [[3,4],[7,8],[200,50],[100,500]]

In [96]:
len(list1)

4

In [97]:
for i in list1:
    print(i)

[3, 4]
[7, 8]
[200, 50]
[100, 500]

In [99]:
x=list1[1]
x

[7, 8]

In [100]:
x[1]

8

In [101]:
list1 = [[3,4],[7,8],[200,50],[100,500]]
list1[0][0]

3

In [102]:
list1 = [[3,4],[7,8],[200,50],[100,500]]
list1[0][1]

4

In [103]:
list1 = [[3,4],[7,8],[200,50],[100,500]] #[7,8] >>>  7
list1[1][0]

7

In [104]:
list1 = [[3,4],[7,8],[200,50],[100,500]] #[7,8] >>>  8
list1[1][1]

8

In [108]:
list1 = [[3,4],[7,8],[200,50],[100,500],10,20,'python',['Kiwi', 'banana', 'Orange', 'Apple', 'Dragonfruit', 'cherry']]
len(list1)

8

In [110]:
list1[7][1]

'banana'

In [113]:
list1[-1][-1]

'cherry'

In [115]:
list1 = [7,8,6,4,3,2,4]
list2 = list1.copy()
print(list1)
print(list2)
print('*'*50)
list1.append(100)
print(list1)
print(list2)

[7, 8, 6, 4, 3, 2, 4]
[7, 8, 6, 4, 3, 2, 4]
**************************************************
[7, 8, 6, 4, 3, 2, 4, 100]
[7, 8, 6, 4, 3, 2, 4]

In [116]:
list1 = [7,8,6,4,3,2,4]
list2 = list1.copy()
print(list1)
print(list2)
print('*'*50)
list1[2]='python'
print(list1)
print(list2)

[7, 8, 6, 4, 3, 2, 4]
[7, 8, 6, 4, 3, 2, 4]
**************************************************
[7, 8, 'python', 4, 3, 2, 4]
[7, 8, 6, 4, 3, 2, 4]

In [117]:
list1 = [[3,4],[7,8],[200,50],[100,500]]
list2 = list1.copy()
list2[2][0]= 'data'

print('list1',list1)
print('list2',list2)

list1 [[3, 4], [7, 8], ['data', 50], [100, 500]]
list2 [[3, 4], [7, 8], ['data', 50], [100, 500]]

# Deep copy()

In [118]:
import copy
list1 = [[3,4],[7,8],[200,50],[100,500]]
list2 = copy.deepcopy(list1)
list2[2][0]= 'data'

print('list1',list1)
print('list2',list2)

list1 [[3, 4], [7, 8], [200, 50], [100, 500]]
list2 [[3, 4], [7, 8], ['data', 50], [100, 500]]

# Built in functions

min
max
sum

In [119]:
list1 = [7,8,6,4,3,2,4]
min(list1)

2

In [120]:
list1 = [7,8,6,4,3,2,4]
max(list1)

8

In [121]:
list1 = [7,8,6,4,3,2,4]
sum(list1)

34

In [123]:
list1 = [7,8,6,4,3,2,4]
addition = 0

for i in list1:
    addition = addition + i
    print("Sum of the number is ", addition)

print("Sum is  ", addition)

Sum of the number is  7
Sum of the number is  15
Sum of the number is  21
Sum of the number is  25
Sum of the number is  28
Sum of the number is  30
Sum of the number is  34
Sum is   34

In [124]:
list1 = [7,8,6,4,3,2,4]
sum(list1)

34