# List Comprehension

In [ ]:
we can use list comprehension on any iterable object (sequence)

In [ ]:
syntax:
    
new_list =[expression for var in sequence]
new_list =[expression for var in sequence if condition == True]
new_list =[short-hand if-else expression for var in sequence]

In [1]:
squrs =[]
for i in range(11,21):
    squrs.append(i**2)
    
print(squrs)

[121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [2]:
squrs = [i**2 for i in range(11,21)]
squrs

[121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [4]:
cube =[]
for i in range(11,21):
    cube.append(i**3)
    
print(cube)

[1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]

In [5]:
cube = [i**3 for i in range(11,21)]
cube

[1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]

In [6]:
fruit = ['Kiwi', 'banana', 'Orange', 'Apple', 'Dragonfruit', 'cherry']

result = []

for frt in fruit:
    result.append(frt.upper())
    
print(result)

['KIWI', 'BANANA', 'ORANGE', 'APPLE', 'DRAGONFRUIT', 'CHERRY']

In [7]:
result = [frt.upper() for frt in fruit]
result

['KIWI', 'BANANA', 'ORANGE', 'APPLE', 'DRAGONFRUIT', 'CHERRY']

In [2]:
list1 = [4,5,7,9,63,45,78,44,22,20,12,65,68,100,204]

In [4]:
even_num = [i for i in list1 if i % 2 == 0]
even_num

[4, 78, 44, 22, 20, 12, 68, 100, 204]

In [5]:
even_num = ['python' for i in list1 if i % 2 == 0]
even_num

['python',
 'python',
 'python',
 'python',
 'python',
 'python',
 'python',
 'python',
 'python']

In [6]:
x = 50
'even' if x%2==0 else 'odd'

'even'

In [8]:
list1 = [4,5,7,9,63,45,78,44,22,20,12,65,68,100,204]
new_list = ['even' if i%2==0 else 'odd' for i in list1]
print(new_list)

['even', 'odd', 'odd', 'odd', 'odd', 'odd', 'even', 'even', 'even', 'even', 'even', 'odd', 'even', 'even', 'even']

In [9]:
list2 = [2,5,6,7]
list3 = [4,7,3,2]
new_list = [] #2+4=6,12
for i, value in enumerate(list2):
    new_list.append(list2[i]+list3[i])
new_list

[6, 12, 9, 9]

In [10]:
list2 = [2,5,6,7]
list3 = [4,7,3,2]
new_list = [list2[i]+list3[i] for i,value in enumerate(list2)]
new_list

[6, 12, 9, 9]