In [ ]:
List
>> mutable
>> ordered
>> duplicates items are allowed

# Tuple

In [ ]:
collection of items
items>> int, float,string, list,set, frozenset,dict etc
1. Tuple is a immutable datatype (we can not update tuple)
2. Ordered
3. Duplicates aitems are allowed
4. tuples are enclosed by ()
5. tuple items are comma seperated

# Tuple Functions

In [ ]:
1. index
2. count

Built-in functions:
    1. sorted()
    2. reversed()
    3. min()
    4. max()
    5. sum()

In [1]:
list1 =[2,4,'data']
type(list1)

list

In [2]:
list1 =(2,4,'data')
type(list1)

tuple

In [3]:
a =()
type(a)

tuple

In [4]:
a =(10)
type(a)

int

In [5]:
a =(10,)
type(a)

tuple

In [6]:
a =(10,3.5,'string')
type(a)

tuple

In [7]:
a =(10,3.5,'string',[2,'data',4])
type(a)

tuple

In [8]:
a =(10,3.5,'string',[2,'data',4],20,{'f',20,5})
type(a)

tuple

In [9]:
a =(10,3.5,'string',[2,'data',4],20,{'f',20,5})
a.extend(100)
a

AttributeError: 'tuple' object has no attribute 'extend'

# index

In [11]:
tuple1 =(10,3.5,'string',20)

In [12]:
tuple1[0]

10

In [13]:
tuple1.index(10)

0

In [14]:
tuple1.index('string')

2

In [15]:
tuple1[1]

3.5

In [16]:
tuple1[1] = 3.6

TypeError: 'tuple' object does not support item assignment

# count()

In [18]:
tuple2 = ('python',2,4,5,6,7,8,4,5,2,1,6,4,7,8,2,8,'data','Data','python')
cnt = tuple2.count(8)
cnt

3

In [19]:
tuple2 = ('python',2,4,5,6,7,8,4,5,2,1,6,4,7,8,2,8,'data','Data','python')
cnt = tuple2.count('python')
cnt

2

In [20]:
tuple2 = ('python',2,4,5,6,7,8,4,5,2,1,6,4,7,8,2,8,'data','Data','python')
cnt = tuple2.count('data')
cnt

1

In [21]:
tuple2 = ('python',2,4,5,6,7,8,4,5,2,1,6,4,7,8,2,8,'data','Data','python')
cnt = tuple2.count('Data')
cnt

1

In [31]:
tuple2 = ('python',2,4,5,6,7,8,4,5,2,1,6,4,7,8,2,8,'data','Data','python')
for i in tuple2:
    print(f"count of {i} is {tuple2.count(i)}")

count of python is 2
count of 2 is 3
count of 4 is 3
count of 5 is 2
count of 6 is 2
count of 7 is 2
count of 8 is 3
count of 4 is 3
count of 5 is 2
count of 2 is 3
count of 1 is 1
count of 6 is 2
count of 4 is 3
count of 7 is 2
count of 8 is 3
count of 2 is 3
count of 8 is 3
count of data is 1
count of Data is 1
count of python is 2

# how to create tuple

In [22]:
tuple1 =()
type(tuple1)

tuple

In [23]:
tuple1 =(100)
type(tuple1)

int

In [24]:
tuple1 =('python')
type(tuple1)

str

In [25]:
tuple1 =(3.5)
type(tuple1)

float

In [26]:
tuple1 =(10,)
type(tuple1)

tuple

In [27]:
tuple1 =('python',)
type(tuple1)

tuple

In [28]:
tuple1 =(3.2,)
type(tuple1)

tuple

In [29]:
tuple1 =(,)
type(tuple1)

SyntaxError: invalid syntax (<ipython-input-29-50da54611d0b>, line 1)

In [30]:
x = 2,3,5,6
type(x)

tuple

In [32]:
tuple2 = ('python',[2,4,5,6,7],8,4,5,2,1,6,4,7,8,2,8,'data','Data','python')
tuple2[3]

5

In [35]:
tuple2 = ('python',[1200,4,5,6,7],{8,4,5,2},1,6,4,7,8,2,8,'data','Data','python')
tuple2[1]

[1200, 4, 5, 6, 7]

In [34]:
tuple2 = ('python',[2,4,5,6,7],{8,4,5,2},1,6,4,7,8,2,8,'data','Data','python')
tuple2[2]

{2, 4, 5, 8}

In [ ]:
still we can update tuple:
    1. convert to the list and again convert back to the tuple
    2. add tuple to the tuple

In [36]:
tuple1 =(2,4,5,6,7) #add 100

In [37]:
list1= list(tuple1)
list1

[2, 4, 5, 6, 7]

In [38]:
list1.append(100)
list1

[2, 4, 5, 6, 7, 100]

In [39]:
tuple1 = tuple(list1)
tuple1

(2, 4, 5, 6, 7, 100)

In [40]:
tuple1 =(2,4,5,6,7) #add 100
tuple2 =(100,)

In [41]:
tuple1+=tuple2
tuple1

(2, 4, 5, 6, 7, 100)

# Built in function

### 1. sorted()

In [46]:
tuple1 =(2,4,5,6,7,5,7,8,10,85,78,95)
result =tuple(sorted(tuple1))

print(tuple1)
print(result)

(2, 4, 5, 6, 7, 5, 7, 8, 10, 85, 78, 95)
(2, 4, 5, 5, 6, 7, 7, 8, 10, 78, 85, 95)

In [47]:
city_names = ('pune', 'mumbai', 'chennai', 'panji', 'delhi','srinagr')
tuple(sorted(city_names))

('chennai', 'delhi', 'mumbai', 'panji', 'pune', 'srinagr')

In [48]:
city_names = ('pune', 'mumbai', 'chennai', 'panji', 'delhi','srinagr')
tuple(sorted(city_names, reverse= True))

('srinagr', 'pune', 'panji', 'mumbai', 'delhi', 'chennai')

### 2. reversed()

In [49]:
city_names = ('pune', 'mumbai', 'chennai', 'panji', 'delhi','srinagr')
tuple(reversed(city_names))

('srinagr', 'delhi', 'panji', 'chennai', 'mumbai', 'pune')

In [50]:
tuple1 =(2,4,5,6,7,5,7,8,10,85,78,95)
result =tuple(reversed(tuple1))

print(tuple1)
print(result)

(2, 4, 5, 6, 7, 5, 7, 8, 10, 85, 78, 95)
(95, 78, 85, 10, 8, 7, 5, 7, 6, 5, 4, 2)

### 3. max()

In [51]:
tuple1 =(2,4,5,6,7,5,7,8,10,85,78,95)
max(tuple1)

95

In [52]:
tuple1 =(2,4,5,6,7256,5,7,8,10,85,78,95)
max(tuple1)

7256

### 4. min()

In [53]:
tuple1 =(2,4,5,6,7256,5,7,8,10,85,78,95)
min(tuple1)

2

In [54]:
tuple1 =(2,4,5,6,7256,5,7,8,1,10,85,78,95)
min(tuple1)

1

### 5. sum()

In [55]:
tuple1 =(2,4,5,6,7256,5,7,8,10,85,78,95)
sum(tuple1)

7561

In [57]:
tuple1 =(2,4,5,5,7,8,10,85,78,95)
sum(tuple1)

299