# Loops in python

In [ ]:
1. for loop
2. while loop


same functionality with different syntax

# For Loop

In [ ]:
For loop works like an iterator

iterable(sequence): string, list, tuple, range,dict, set, frozenset
                    numpy array, pandas df, series

In [ ]:
for variable in sequence:
    statement1
    statement2
    statement3

for var in sequence:
    statement1
    statement2
    statement3

for val in sequence:
    statement1
    statement2
    statement3
    
for i in sequence:
    statement1
    statement2
    statement3
    
for j in sequence:
    statement1
    statement2
    statement3

In [ ]:
for index, value in enumerate(sequence):
    print(index, value)
    
for i, v in enumerate(sequence):
    print(i, v)
    
    
for ind, val in enumerate(sequence):
    print(ind, val)

In [2]:
print('We are learning for loop') # statement
print('We are learning for loop')
print('We are learning for loop')
print('We are learning for loop')
print('We are learning for loop')
print('We are learning for loop')
print('We are learning for loop')
print('We are learning for loop')

We are learning for loop
We are learning for loop
We are learning for loop
We are learning for loop
We are learning for loop
We are learning for loop
We are learning for loop
We are learning for loop

### range()

In [3]:
for i in range(10):
    print('We are learning for loop')

We are learning for loop
We are learning for loop
We are learning for loop
We are learning for loop
We are learning for loop
We are learning for loop
We are learning for loop
We are learning for loop
We are learning for loop
We are learning for loop

In [4]:
for i in range(10):
    print('We are learning for loop >>  ',i)

We are learning for loop >>   0
We are learning for loop >>   1
We are learning for loop >>   2
We are learning for loop >>   3
We are learning for loop >>   4
We are learning for loop >>   5
We are learning for loop >>   6
We are learning for loop >>   7
We are learning for loop >>   8
We are learning for loop >>   9

In [5]:
for i in range(5):
    print('We are learning for loop >>  ',i)
    print('*'*50)

We are learning for loop >>   0
**************************************************
We are learning for loop >>   1
**************************************************
We are learning for loop >>   2
**************************************************
We are learning for loop >>   3
**************************************************
We are learning for loop >>   4
**************************************************

### string

In [6]:
for char in 'python':
    print('Character is >>  ',char)

Character is >>   p
Character is >>   y
Character is >>   t
Character is >>   h
Character is >>   o
Character is >>   n

In [7]:
for char in 'python':
    print('Character is >>  ',char)
    print('$'*50)

Character is >>   p
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
Character is >>   y
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
Character is >>   t
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
Character is >>   h
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
Character is >>   o
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
Character is >>   n
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

In [8]:
for index, char in enumerate('python'):
    print(f"Character at index {index} is {char}")
    print()

Character at index 0 is p

Character at index 1 is y

Character at index 2 is t

Character at index 3 is h

Character at index 4 is o

Character at index 5 is n

### list

In [11]:
city_names = ['pune', 'mumbai', 'chennai', 'panji', 'delhi','srinagr']

In [12]:
for city in city_names:
    print(city)

pune
mumbai
chennai
panji
delhi
srinagr

In [13]:
for index, city in enumerate(city_names):
    print(f"City at Index {index} is {city}")

City at Index 0 is pune
City at Index 1 is mumbai
City at Index 2 is chennai
City at Index 3 is panji
City at Index 4 is delhi
City at Index 5 is srinagr

In [14]:
for index, city in enumerate(city_names):
    print(f"City at Index {index} is {city}")
    print(index,city.upper())

City at Index 0 is pune
0 PUNE
City at Index 1 is mumbai
1 MUMBAI
City at Index 2 is chennai
2 CHENNAI
City at Index 3 is panji
3 PANJI
City at Index 4 is delhi
4 DELHI
City at Index 5 is srinagr
5 SRINAGR

In [16]:
all_list = ['pune',2,10,6.4, 'mumbai',3.5,4, 'chennai', 'panji', 2.5,'delhi','srinagr',3]
print(all_list)

['pune', 2, 10, 6.4, 'mumbai', 3.5, 4, 'chennai', 'panji', 2.5, 'delhi', 'srinagr', 3]

In [17]:
int_list=[]
float_list=[]
str_list = []
for i in all_list:
    if type(i)==int:
        int_list.append(i)
    elif type(i)==float:
        float_list.append(i)
    else:
        str_list.append(i)

print("Integer: ",int_list)
print("Float: ",float_list)
print("String: ",str_list)

Integer:  [2, 10, 4, 3]
Float:  [6.4, 3.5, 2.5]
String:  ['pune', 'mumbai', 'chennai', 'panji', 'delhi', 'srinagr']

# Loop Control Statements:
    1. break
    2. continue
    3. pass

### 1. break statement

In [18]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [21]:
for i in range(5,10):
    print(f'i == {i}')
    if i == 7:
        print("Number Found") #I want to end at 7
print()
    
print("Completed")

i == 5
i == 6
i == 7
Number Found
i == 8
i == 9

Completed

In [24]:
for i in range(5,10):
    print(f'i == {i}')
    if i == 7:
        print("Number Found") #I want to end at 7
        break
        print('python')
print()    
print("Completed")

i == 5
i == 6
i == 7
Number Found

Completed

In [25]:
for i in range(5,10):
    print(f'i == {i}')
    if i == 7:
        print('python') 
        break
        print("Number Found")
print()    
print("Completed")

i == 5
i == 6
i == 7
python

Completed

In [26]:
for i in range(5,10):
    print('Hello Python')
    print('Mission Completed')

Hello Python
Mission Completed
Hello Python
Mission Completed
Hello Python
Mission Completed
Hello Python
Mission Completed
Hello Python
Mission Completed

In [27]:
for i in range(5,10):
    print('Hello Python')
    print('Mission Completed')
    break

Hello Python
Mission Completed

### 2. continue

In [ ]:
it is used to  stop current iteration,
continue with next iteration

In [28]:
for i in range(5,10):
    print(f'i == {i}')
    if i == 7:
        print('python') 
        continue
        print("Number Found")
print()    
print("Completed")

i == 5
i == 6
i == 7
python
i == 8
i == 9

Completed

In [31]:
for i in range(5,10):
    print(f'i == {i}')
    if i == 11:
        print('python')
        continue
        
print('completed')

i == 5
i == 6
i == 7
i == 8
i == 9
completed

In [33]:
for i in range(5,10):
    print(f'i == {i}')
    if i == 11:
        print('python')
        continue
    print("hello")

i == 5
hello
i == 6
hello
i == 7
hello
i == 8
hello
i == 9
hello

In [ ]:
for i in range(5,10):
    print(f'i == {i}')
    if i == 11:
        print('python')
        continue
    print("hello")

### 3. pass

In [ ]:
it is used to avoid error

In [34]:
for i in range(5,10):
    print(f'i == {i}')
    if i == 7:
        pass
    print('Loop completed')

i == 5
Loop completed
i == 6
Loop completed
i == 7
Loop completed
i == 8
Loop completed
i == 9
Loop completed

In [35]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [36]:
for i in range(5,10):
#     print(i)

SyntaxError: unexpected EOF while parsing (<ipython-input-36-61fa86d6240a>, line 2)

In [37]:
for i in range(5,10):
#     print(i)  statement1
    pass