# Nested for loop

In [ ]:
for loop inside for loop

In [ ]:
for var in sequence1:
    statement1
    statement2
    for var2 in sequence2:
        statement3
        statement4
        for var3 in sequence3:
            statement5
            statement6

In [ ]:
for var in sequence1:
    statement1
    statement2
    for var2 in sequence2:
        statement3
        statement4

In [1]:
for i in range(5):
    print('we are in the first for loop')

we are in the first for loop
we are in the first for loop
we are in the first for loop
we are in the first for loop
we are in the first for loop

In [2]:
for i in range(5):
    print('we are in the first for loop')
    for j in range(4):
        print('we are in the Nested for loop')

we are in the first for loop
we are in the Nested for loop
we are in the Nested for loop
we are in the Nested for loop
we are in the Nested for loop
we are in the first for loop
we are in the Nested for loop
we are in the Nested for loop
we are in the Nested for loop
we are in the Nested for loop
we are in the first for loop
we are in the Nested for loop
we are in the Nested for loop
we are in the Nested for loop
we are in the Nested for loop
we are in the first for loop
we are in the Nested for loop
we are in the Nested for loop
we are in the Nested for loop
we are in the Nested for loop
we are in the first for loop
we are in the Nested for loop
we are in the Nested for loop
we are in the Nested for loop
we are in the Nested for loop

In [3]:
for i in range(5):
    print('we are in the first for loop')
    for j in range(4):
        print('we are in the Nested for loop')
    print('*'*50)

we are in the first for loop
we are in the Nested for loop
we are in the Nested for loop
we are in the Nested for loop
we are in the Nested for loop
**************************************************
we are in the first for loop
we are in the Nested for loop
we are in the Nested for loop
we are in the Nested for loop
we are in the Nested for loop
**************************************************
we are in the first for loop
we are in the Nested for loop
we are in the Nested for loop
we are in the Nested for loop
we are in the Nested for loop
**************************************************
we are in the first for loop
we are in the Nested for loop
we are in the Nested for loop
we are in the Nested for loop
we are in the Nested for loop
**************************************************
we are in the first for loop
we are in the Nested for loop
we are in the Nested for loop
we are in the Nested for loop
we are in the Nested for loop
**************************************************

In [4]:
for i in range(5):
    print('we are in the first for loop')
    for j in range(4):
        print('we are in the Nested for loop')
        print('Hello')
    print('*'*50)

we are in the first for loop
we are in the Nested for loop
Hello
we are in the Nested for loop
Hello
we are in the Nested for loop
Hello
we are in the Nested for loop
Hello
**************************************************
we are in the first for loop
we are in the Nested for loop
Hello
we are in the Nested for loop
Hello
we are in the Nested for loop
Hello
we are in the Nested for loop
Hello
**************************************************
we are in the first for loop
we are in the Nested for loop
Hello
we are in the Nested for loop
Hello
we are in the Nested for loop
Hello
we are in the Nested for loop
Hello
**************************************************
we are in the first for loop
we are in the Nested for loop
Hello
we are in the Nested for loop
Hello
we are in the Nested for loop
Hello
we are in the Nested for loop
Hello
**************************************************
we are in the first for loop
we are in the Nested for loop
Hello
we are in the Nested for loop
Hello
we are in the Nested for loop
Hello
we are in the Nested for loop
Hello
**************************************************

In [5]:
for char in 'python':
    print("Char is : ",char)
    for i in range(3):#3 times
        print("Hello Python")
    print('#'*50)

Char is :  p
Hello Python
Hello Python
Hello Python
##################################################
Char is :  y
Hello Python
Hello Python
Hello Python
##################################################
Char is :  t
Hello Python
Hello Python
Hello Python
##################################################
Char is :  h
Hello Python
Hello Python
Hello Python
##################################################
Char is :  o
Hello Python
Hello Python
Hello Python
##################################################
Char is :  n
Hello Python
Hello Python
Hello Python
##################################################

In [6]:
for char in 'python':
    print("Char is : ",char)
    for i in range(3):#3 times
        print("Hello Python")
    print(end = '\n')

Char is :  p
Hello Python
Hello Python
Hello Python

Char is :  y
Hello Python
Hello Python
Hello Python

Char is :  t
Hello Python
Hello Python
Hello Python

Char is :  h
Hello Python
Hello Python
Hello Python

Char is :  o
Hello Python
Hello Python
Hello Python

Char is :  n
Hello Python
Hello Python
Hello Python

In [7]:
for i in range(5):
    for j in range(5):
        print('*')
    print()

*
*
*
*
*

*
*
*
*
*

*
*
*
*
*

*
*
*
*
*

*
*
*
*
*

In [8]:
for i in range(5):
    for j in range(5):
        print('*',end = ' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [9]:
for i in range(5):
    print(f"i == {i}")
    for j in range(5):
        print('*')
    print()

i == 0
*
*
*
*
*

i == 1
*
*
*
*
*

i == 2
*
*
*
*
*

i == 3
*
*
*
*
*

i == 4
*
*
*
*
*

In [10]:
for i in range(5):
    print(f"i == {i}")
    for j in range(5):
        print('*',end = ' ')
    print()

i == 0
* * * * *
i == 1
* * * * *
i == 2
* * * * *
i == 3
* * * * *
i == 4
* * * * *

In [11]:
for i in range(5):
#     print(f"i == {i}")
    for j in range(5):
        print('*',end = ' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [12]:
n=5
for i in range(n):
#     print(f"i == {i}")
    for j in range(n):
        print('*',end = ' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [15]:
n = 5 
for i in range(1,n+1):
    for j in range(i):
        print('*',end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [16]:
n = 10 
for i in range(1,n+1):
    for j in range(i):
        print('*',end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [18]:
n = 10 
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end = ' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [19]:
n = 10 
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end = ' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10

In [20]:
n=5
for i in range(n):
#     print(f"i == {i}")
    for j in range(n):
        print('B',end = ' ')
    print()

B B B B B
B B B B B
B B B B B
B B B B B
B B B B B

In [21]:
chr(65)

'A'

In [22]:
chr(66)

'B'

In [ ]:
A >>> 65
Z >>> 90

a >>> 97
z >>> 122

In [23]:
chr(122)

'z'

In [24]:
chr(100)

'd'

In [25]:
n=5
for i in range(n):
#     print(f"i == {i}")
    for j in range(n):
        print(chr(97),end = ' ')
    print()

a a a a a
a a a a a
a a a a a
a a a a a
a a a a a

In [26]:
n=5
for i in range(n):
#     print(f"i == {i}")
    for j in range(n):
        print(chr(65),end = ' ')
    print()

A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [27]:
n=5
x =  65
for i in range(n):
#     print(f"i == {i}")
    for j in range(n):
        print(chr(x),end = ' ')
        x = x+1
    print()

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

In [28]:
n=5
x =  65
for i in range(1, n+1):
#     print(f"i == {i}")
    for j in range(i):
        print(chr(x),end = ' ')
        x = x+1
    print()

A
B C
D E F
G H I J
K L M N O

In [30]:
n= 6
x =  65
for i in range(1, n+1):
#     print(f"i == {i}")
    for j in range(i):
        print(chr(x),end = ' ')
        x = x+1
    print()

A
B C
D E F
G H I J
K L M N O
P Q R S T U

In [33]:
n= 6
x =  97
for i in range(1, n+1):
#     print(f"i == {i}")
    for j in range(i):
        print(chr(x),end = ' ')
        x = x+1
    print()

a
b c
d e f
g h i j
k l m n o
p q r s t u

In [34]:
n = 5 
for i in range(1,n+1):
    for j in range(i):
        print('*',end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *

* * * * *
* * * *
* * *
* *
*

In [35]:
n =5
for i in range(n,0,-1):
    for j in range(i):
        print('*', end = ' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [36]:
n =5
for i in range(n,0,-1):
    for j in range(i):
        print(i, end = ' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [37]:
n =5
x =65
for i in range(n,0,-1):
    for j in range(i):
        print(chr(x), end = ' ')
        x = x +1
    print()

A B C D E
F G H I
J K L
M N
O

    *
   **
  ***
 ****
*****

In [38]:
n =5
for i in range(1,n+1):
    print(" " * (n-i) + '*' * i)

    *
   **
  ***
 ****
*****

In [41]:
n = 10
for i in range(1,n+1):
    print(" " * (n-i) + '*' * i)

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [ ]:
    *
   * *
  * * *

In [47]:
n =5
for i in range(1,n+1):
    print(" " * (n-i) + '*' * (i*2-1))

    *
   ***
  *****
 *******
*********

In [ ]:
*
* *
* * *
* *
*

In [52]:
n =5 
for i in range(1,n+1):
    for j in range(i):
        print('*', end = ' ')
    print()
    
for i in range (n-1,0,-1):
    for j in range(i):
        print('*',end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [50]:
n =5 
x =65
for i in range(1,n+1):
    for j in range(i):
        print(chr(x), end = ' ')
        x = x +1
    print()
    
for i in range (n-1,0,-1):
    for j in range(i):
        print(chr(x),end = ' ')
        x = x +1
    print()

A
B C
D E F
G H I J
K L M N O
P Q R S
T U V
W X
Y