# While Loop

In [ ]:
while loop is used to execute a block of code until a given condition is true.


while condition:
    code line1
    code line2
    

condition is:
    1. True >> executes the block of code
    2. False >> Exit the while loop

In [ ]:
while condition:
    statement1
    statement2

In [17]:
i = 0
while i < 4: #condition i < 4      0,1,2,3,4
    print("hello")
    print('We are testing While Loop')
    i+=1

print('Loop Completed')

hello
We are testing While Loop
hello
We are testing While Loop
hello
We are testing While Loop
hello
We are testing While Loop
Loop Completed

In [18]:
n = 10
num = 1
addition = 0

while num <= n:             #  1,2,3,4
    addition += num         #  1,3,6,10
    num += 1                #  2,3,4,5

print(f"Sum of First {n} number is {addition}")

Sum of First 10 number is 55

In [19]:
n = 100
num = 1
addition = 0

while num <= n:             #  1,2,3,4
    addition += num         #  1,3,6,10
    num += 1                #  2,3,4,5

print(f"Sum of First {n} number is {addition}")

Sum of First 100 number is 5050

In [20]:
n,num,addition = 10,1,0

while num <= n:             #  1,2,3,4,5
    addition += num         #  1,3,6,10,15
    num += 1                #  2,3,4,5

print(f"Sum of First {n} number is {addition}")

Sum of First 10 number is 55

In [24]:
i = 4
while i <= 4: #False
    print('hello')
    i+=1

print('Out of while loop')

hello
Out of while loop

# Loop Control statements

### 1. break

In [26]:
n,num,addition = 10,1,0

while num <= n:
    addition += num
    if addition >10:
        print('Addition is greater than 10', num)
        break
    num+=1

print(f"Sum of First {num} number is {addition}")

Addition is greater than 10 5
Sum of First 5 number is 15

In [ ]:
while num <= n:             #  1,2,3,4,5
    addition += num         #  1,3,6,10,15
    num += 1                #  2,3,4,5

In [27]:
i = 1
while i<= 10:
    print(f"i == {i}")
    i+=1
#     if i == 6:
#         print("Value of i is 6")

i == 1
i == 2
i == 3
i == 4
i == 5
i == 6
i == 7
i == 8
i == 9
i == 10

In [28]:
i = 1
while i<= 10:
    print(f"i == {i}")
    i+=1
    if i == 6:
        print("Value of i is 6")

i == 1
i == 2
i == 3
i == 4
i == 5
Value of i is 6
i == 6
i == 7
i == 8
i == 9
i == 10

In [29]:
i = 1
while i<= 10:
    print(f"i == {i}")
    i+=1
    if i == 6:
        print("Value of i is 6")
        break

i == 1
i == 2
i == 3
i == 4
i == 5
Value of i is 6

In [31]:
i = 1
while i<= 10:
    print(f"i == {i}")
    i+=1
    if i == 6:
        print("Value of i is 6")
        break
print("Desired Value Found")

i == 1
i == 2
i == 3
i == 4
i == 5
Value of i is 6
Desired Value Found

In [32]:
i = 1
while i<= 10:
    print(f"i == {i}")
    i+=1
    if i == 6:
        print("Value of i is 6")
        break
    print("Desired Value Found")

i == 1
Desired Value Found
i == 2
Desired Value Found
i == 3
Desired Value Found
i == 4
Desired Value Found
i == 5
Value of i is 6

In [33]:
i = 1
while i<= 10:
    print(f"i == {i}")
    i+=1
    if i == 6:
        print("Value of i is 6")
        continue
    print("Desired Value Found")

i == 1
Desired Value Found
i == 2
Desired Value Found
i == 3
Desired Value Found
i == 4
Desired Value Found
i == 5
Value of i is 6
i == 6
Desired Value Found
i == 7
Desired Value Found
i == 8
Desired Value Found
i == 9
Desired Value Found
i == 10
Desired Value Found

In [34]:
i = 1
while i<= 10:
    print(f"i == {i}")
    i+=1
    if i == 6:
        print("Value of i is 6")
        pass
    print("python")

i == 1
python
i == 2
python
i == 3
python
i == 4
python
i == 5
Value of i is 6
python
i == 6
python
i == 7
python
i == 8
python
i == 9
python
i == 10
python

# While Else

In [35]:
i =1
while i < 10:
    print(i)
    i+=1
else:
    print('Loop is completed')

1
2
3
4
5
6
7
8
9
Loop is completed

In [36]:
i =1
while i < 10:  #1,2,3,4
    print(i)
    i+=1
    if i == 5:
        break
else:
    print('Loop is completed')

1
2
3
4

In [37]:
i =1
while i < 10:
    print(i)
    i+=2
    
else:
    print('Loop is completed')

1
3
5
7
9
Loop is completed

In [40]:
i =1
while i < 10:  #1,3
    print(i)
    i+=2
    if i ==5:
        print('**********************')
        break
    
else:
    print('Loop is completed')

print('Finished')

1
3
**********************
Finished

# Access value from sequences

In [41]:
string = 'python'
i=0
while i < len(string):                #0,1
    print("Char is : ",string[i])    # string[0] =p , y
    i+=1

Char is :  p
Char is :  y
Char is :  t
Char is :  h
Char is :  o
Char is :  n

In [42]:
string = 'python'
i=0
while i < len(string):                #0,1
    print(f"Char at index {i} is : ",string[i])    # string[0] =p , y
    i+=1

Char at index 0 is :  p
Char at index 1 is :  y
Char at index 2 is :  t
Char at index 3 is :  h
Char at index 4 is :  o
Char at index 5 is :  n

In [43]:
string = 'python'
i=0
while i < len(string):                #0,1
    print(f"Char at index {i} is : ",string[i])    # string[0] =p , y
    i+=2

Char at index 0 is :  p
Char at index 2 is :  t
Char at index 4 is :  o

In [44]:
list1 = [10,50,'banana','potato',400]
i=0
while i < len(list1):                
    print(f"Char at index {i} is : ",list1[i])    
    i+=1

Char at index 0 is :  10
Char at index 1 is :  50
Char at index 2 is :  banana
Char at index 3 is :  potato
Char at index 4 is :  400

In [47]:
list1 = [10,50,'banana','potato',400]

int_list = []
str_list = []

i=0
while i < len(list1):                           #
    print(f"Char at index {i} is : ",list1[i])
    if type(list1[i])==int:                     #10,50,banana
        int_list.append(list1[i])
    else:
        str_list.append(list1[i])
    i+=1

print('Integer list is : ',int_list)
print('String list is : ',str_list)

Char at index 0 is :  10
Char at index 1 is :  50
Char at index 2 is :  banana
Char at index 3 is :  potato
Char at index 4 is :  400
Integer list is :  [10, 50, 400]
String list is :  ['banana', 'potato']

# Factorial

In [48]:
n = 5
fact = 1
i =n          #i =5,4
while i>= 1:          # True
    fact = fact * i    #5*4
    i-=1
print(f"Factorial of {n} is {fact} ")

Factorial of 5 is 120

In [50]:
5*4*3*2*1

120

In [ ]:
*
**
***
****

In [52]:
n =6
i =1
while i<=n:    #1 True
    j=1
    while j<=i: #true
        print('*',end = ' ')
        j+=1
    print()
    i+=1

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [ ]:
******
*****
****
***
**
*

In [54]:
n =6
i =1
while i<=n:
    j=n
    while j>=i:
        print('*',end = ' ')
        j-=1
    print()
    i+=1

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [55]:
i =1
while i<=n:    #1 True
    j=1
    while j<=i: #true
        print(i,end = ' ')
        j+=1
    print()
    i+=1

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6