# Python Data Type

In [ ]:
string   : Immutable,  Ordered , duplicates are allowed, ' '
list     : Mutable   , ordered , duplicates are allowed, [ ]
tuple    : Immutable , ordered , duplicates are allowed, ( )

# Set Data Type

In [ ]:
sets are used to store multiple items in variable

In [ ]:
1. Unordered data type 
2. Mutable >> add , remove set items,(but we can not change/update items once set is created)
3. enclosed by { }
4. indexing is not allowed

# Set Functions

In [ ]:
1. add()
2. update()
3. union()

4. remove()
5. discard()
6. pop()
7. clear()

8. intersection()
9. intersection_update()
10. difference()
11. difference_update()
12. symmetric_difference()
13. symmetric_difference_update()

14. issupperset()
15. issubset()
16. isdisjoint()
17. copy()

In [2]:
set1 = {1,'python',2,1,4,5,4,7,'python','data'}
set1

{1, 2, 4, 5, 7, 'data', 'python'}

In [5]:
set1 = {1,'python',2,1,4,5,4,7,'python','data'}
set1[0]        #indexing is not allowed

TypeError: 'set' object is not subscriptable

In [18]:
list1 = [1,'python',2,3.56,1,4,5,4.7,7,'python','data']
type(list1)

list

In [9]:
set2= set(list1)
print(set2)
type(set2)

{1, 2, 3.56, 4, 5, 4.7, 7, 'python', 'data'}

set

In [19]:
x = list(set(list1))
x

[1, 2, 3.56, 4, 5, 4.7, 7, 'python', 'data']

In [11]:
y = tuple(set2)
y

(1, 2, 3.56, 4, 5, 4.7, 7, 'python', 'data')

In [25]:
list2 = [4,6,1,2,8,9,3,4,5,6,7]
x=set(list2)
x
list(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
list2 = [4,6,1,2,8,9,3,4,5,6,7]
x = list(set(list2))
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
list2 = [4,6,1,2,8,9,3,4,5,6,7]
x = tuple(set(list2))
x

(1, 2, 3, 4, 5, 6, 7, 8, 9)

# Python Type casting

In [ ]:
list >> tuple
tuple >> list
tuple >> set
set >> tuple
list >> set
set >> list

# How to access the set items

In [ ]:
we can not use indexing in set data type

In [28]:
set3 = {1,'python',2,3.56,1,4,5,4.7,7,'python','data'}
set3[4]

TypeError: 'set' object is not subscriptable

In [32]:
set3 = {1,'python',2,3.56,1,4,5,4.7,7,'python','data'}
print(set3)
print()
for i in set3:
    print(f"i is : {i}")

{1, 2, 3.56, 4, 5, 4.7, 7, 'python', 'data'}

i is : 1
i is : 2
i is : 3.56
i is : 4
i is : 5
i is : 4.7
i is : 7
i is : python
i is : data

In [33]:
set3 = {1,'python',2,3.56,1,4,5,4.7,7,'python','data'}
print(set3)
print()
for i,v in enumerate(set3):
    print(f"i== {i} and item is : {v}")

{1, 2, 3.56, 4, 5, 4.7, 7, 'python', 'data'}

i== 0 and item is : 1
i== 1 and item is : 2
i== 2 and item is : 3.56
i== 3 and item is : 4
i== 4 and item is : 5
i== 5 and item is : 4.7
i== 6 and item is : 7
i== 7 and item is : python
i== 8 and item is : data

In [34]:
set3 = {1,'python',2,3.56,1,4,5,4.7,7,'python','data'}
print(set3)

{1, 2, 3.56, 4, 5, 4.7, 7, 'python', 'data'}

In [35]:
list1 = [4,5,6,7,8,9]
list2 = [7,8,9,1,2,3]
new_list = [] #7,8,9

for i in list1:
    print(i)
    if i in list2:
        new_list.append(i)
        
print(new_list)

4
5
6
7
8
9
[7, 8, 9]

In [36]:
list1 = [4,5,6,7,8,9]
list2 = [7,8,9,1,2,3]
new_list = [] #7,8,9

for i in list1:
#     print(i)
    if i in list2:
        new_list.append(i)
        
print(new_list)

[7, 8, 9]

In [37]:
list1 = [4,5,6,7,8,9]
list2 = [7,8,9,1,2,3]
new_list = [] #4,5,6

for i in list1:
#     print(i)
    if i not in list2:
        new_list.append(i)
        
print(new_list)

[4, 5, 6]

In [38]:
list1 = [4,5,6,7,8,9]
list2 = [7,8,9,1,2,3]
new_list = [] #1,2,3

for i in list2:
#     print(i)
    if i not in list1:
        new_list.append(i)
        
print(new_list)

[1, 2, 3]

# 1. add()

In [ ]:
it used to add only one item in set
variable_name.add(value)

In [40]:
set1 = {1,5,7,8}    # add 1000
set1.add(1000)
set1

{1, 5, 7, 8, 1000}

In [41]:
set1 = {1,5,7,8}    # add 1000
set1.add('data')
set1

{1, 5, 7, 8, 'data'}

In [42]:
set1 = {1,5,7,8}    # add 1000
set1.add(3.5)
set1

{1, 3.5, 5, 7, 8}

In [43]:
set2 = {'pune', 'mumbai', 'chennai','delhi'} # benglore
set2.add('banglore')
set2

{'banglore', 'chennai', 'delhi', 'mumbai', 'pune'}

In [44]:
set2 = {'pune', 'mumbai', 'chennai','delhi'} # benglore
set2.add('50')
set2

{'50', 'chennai', 'delhi', 'mumbai', 'pune'}

In [46]:
set2 = {'pune', 'mumbai', 'chennai','delhi'} # benglore
set2.add(4500)
set2

{4500, 'chennai', 'delhi', 'mumbai', 'pune'}

# 2. update()

In [ ]:
set_name.update()
it will update the set with the unioin of this set and others
the object in the update() will be set, list, tuple .... any iterable

In [47]:
set1 = {1,5,7,8}
set2 = {10,20,45,78,2,1,5}
set1.update(set2)
print(set1)
print(set2)

{1, 2, 5, 7, 8, 10, 45, 78, 20}
{1, 2, 5, 10, 45, 78, 20}

In [48]:
set1 = {1,5,7,8}
set2 = {10,20,45,78,2,1,5}
set2.update(set1)
print(set1)
print(set2)

{8, 1, 5, 7}
{1, 2, 5, 7, 8, 10, 45, 78, 20}

In [49]:
set2 = {10,20,45,78,2,1,5}
list1 = [1,5,7,8]
set2.update(list1)
print(set2)
print(list1)

{1, 2, 5, 7, 8, 10, 45, 78, 20}
[1, 5, 7, 8]

In [50]:
set2 = {10,20,45,78,2,1,5}
list1 = [1,5,7,8]
list1.extend(set2)
print(set2)
print(list1)

{1, 2, 5, 10, 45, 78, 20}
[1, 5, 7, 8, 1, 2, 5, 10, 45, 78, 20]

In [51]:
set2 = {10,20,45,78,2,1,5}
tuple1 = (1,5,7,8)
set2.update(tuple1)
print(set2)
print(tuple1)

{1, 2, 5, 7, 8, 10, 45, 78, 20}
(1, 5, 7, 8)

# 3. union()

In [ ]:
it will return a set containing union of set
a  , b
a U b
union >> if two sets a abd b are given
union of a nad b will be-
the set that contains all the element present in a and b

In [55]:
set1 = {5,6,7,2,8}
set2 = {10,20,5,6,30,40}
new_set = set1.union(set2)
print("set1 : ",set1)
print("set2 : ",set2)
print("new_set  :",new_set)

set1 :  {2, 5, 6, 7, 8}
set2 :  {5, 6, 40, 10, 20, 30}
new_set  : {2, 5, 6, 7, 8, 40, 10, 20, 30}

In [56]:
set1 = {5,6,7,2,8}
set2 = {10,20,5,6,30,40}
set3 = {50,45,65,78,88}
new_set = set1.union(set2,set3)
print("set1 : ",set1)
print("set2 : ",set2)
print("set3 : ",set3)
print("new_set  :",new_set)

set1 :  {2, 5, 6, 7, 8}
set2 :  {5, 6, 40, 10, 20, 30}
set3 :  {65, 45, 78, 50, 88}
new_set  : {65, 2, 5, 6, 7, 8, 40, 10, 45, 78, 50, 20, 88, 30}

# delete item from set

In [ ]:
1. remove()
2. discard()
3. clear()
4. pop()

### 1. remove()

In [ ]:
set_name.remove(item)
remove the specified item

In [58]:
set2 = {10,20,5,6,30,40}
set2.remove(30)
set2

{5, 6, 10, 20, 40}

In [59]:
set2 = {10,20,5,6,30,40}
set2.remove(4)
set2

KeyError: 4

In [60]:
set2 = {10,20,5,6,30,40}
set2.remove(40)
set2

{5, 6, 10, 20, 30}

In [61]:
set2 = {10,20,5,6,30,40}
set2.remove(5)
set2

{6, 10, 20, 30, 40}

In [62]:
set2 = {'pune', 'mumbai', 'chennai','delhi'} # mumbai
set2.remove('mumbai')
set2

{'chennai', 'delhi', 'pune'}

In [63]:
set2 = {'pune', 'mumbai', 'chennai','delhi'} # mumbai
set2.remove('Mumbai')
set2

KeyError: 'Mumbai'

In [65]:
set2 = {'pune', 'mumbai', 'chennai','delhi'} # mumbai
set2.remove('chennai')
set2

{'delhi', 'mumbai', 'pune'}

### 2. discard()

In [ ]:
set_name.discard(value)
it will remove/discard the specified item
it does not raise error if specified item is not found

In [66]:
set2 = {10,20,5,6,30,40}
set2.discard(30)
set2

{5, 6, 10, 20, 40}

In [68]:
set2 = {10,20,5,6,30,40}
set2.discard(4)
set2

{5, 6, 10, 20, 30, 40}

In [70]:
set2 = {'pune', 'mumbai', 'chennai','delhi'} # mumbai
set2.discard('mumbai')
set2

{'chennai', 'delhi', 'pune'}

In [71]:
set2 = {'pune', 'mumbai', 'chennai','delhi'} # mumbai
set2.discard('muMbai')
set2

{'chennai', 'delhi', 'mumbai', 'pune'}

### 3. pop()

In [ ]:
set_name.pop()
it will remove random item from set
it will return the removed item

In [72]:
set2 = {'pune', 'mumbai', 'chennai','delhi'} 
set2.pop()
set2

{'chennai', 'delhi', 'pune'}

In [73]:
set2 = {10,20,5,6,30,40}
set2.pop()
set2

{6, 10, 20, 30, 40}

In [74]:
set2 = {'pune', 'mumbai', 'chennai','delhi'} 
set2.pop()

'mumbai'

In [75]:
set3 = {1,'python',2,3.56,1,4,5,4.7,7,'python','data'}
set3.pop()

1

### 4. clear()

In [ ]:
set_name.clear()
removes all the element from set

In [80]:
set3 = {1,'python',2,3.56,1,4,5,4.7,7,'python','data'}
set3.clear()

In [81]:
set3

set()

In [82]:
type(set3)

set

### delete

In [78]:
set3 = {1,'python',2,3.56,1,4,5,4.7,7,'python','data'}
del set3

In [79]:
set3

NameError: name 'set3' is not defined

# Other set functions

### 1. intersection()

In [ ]:
it will return a set that contains simillirity between two or more set
set_name.intersection(set1,set2.....)

In [83]:
set1 = {2,3,4,5,6,7} #6
set2 = {5,6,7,8,9,10,11}# 7

new_set = set1.intersection(set2)
print("set1 : ",set1)
print("set2 : ",set2)
print("new_set  :",new_set)

set1 :  {2, 3, 4, 5, 6, 7}
set2 :  {5, 6, 7, 8, 9, 10, 11}
new_set  : {5, 6, 7}

In [89]:
set1 = {2,3,4,5,6,'data',7} #6
set2 = {5,6,7,8,9,'data',10,11}# 7
set3 = {'data',45,50,5,60,6}


new_set = set1.intersection(set2,set3)
print("set1 : ",set1)
print("set2 : ",set2)
print("set3 : ",set3)
print("new_set  :",new_set)

set1 :  {2, 3, 4, 5, 6, 7, 'data'}
set2 :  {5, 6, 7, 8, 9, 10, 11, 'data'}
set3 :  {5, 6, 45, 50, 'data', 60}
new_set  : {'data', 5, 6}

In [90]:
set2 = {'pune', 'mumbai', 'chennai','delhi'}
set3 = {'pune', 'banglore', 'chennai','kolkata'}
city = set3.intersection(set2)
city

{'chennai', 'pune'}

In [91]:
set2 = {'pune', 'mumbai', 'chennai','delhi'}
set3 = {'pune', 'banglore', 'chennai','kolkata'}
city = set2.intersection(set3)
city

{'chennai', 'pune'}

### 2. intersection_update

In [ ]:
set_name.intersection_update(set1,2,3....)
it removes the items that are not present in both set
>>intersection update will remove unwanted items from the original set
>> intersection>> gives new set without unwanted items

In [92]:
set2 = {'pune', 'mumbai', 'chennai','delhi'}
set3 = {'pune', 'banglore', 'chennai','kolkata'}
set2.intersection_update(set3)

print("set2 : ",set2)
print("set3 : ",set3)

set2 :  {'chennai', 'pune'}
set3 :  {'kolkata', 'banglore', 'chennai', 'pune'}

In [93]:
set2 = {'pune', 'mumbai', 'chennai','delhi'}
set3 = {'pune', 'banglore', 'chennai','kolkata'}
set3.intersection_update(set2)

print("set2 : ",set2)
print("set3 : ",set3)

set2 :  {'mumbai', 'chennai', 'pune', 'delhi'}
set3 :  {'chennai', 'pune'}

In [94]:
set1 = {2,3,4,5,6,'data',7}
set2 = {5,6,7,8,9,'data',10,11}
set3 = {'data',45,50,5,60,6}


set1.intersection_update(set2,set3)
print("set1 : ",set1)
print("set2 : ",set2)
print("set3 : ",set3)

set1 :  {'data', 5, 6}
set2 :  {5, 6, 7, 8, 9, 10, 11, 'data'}
set3 :  {5, 6, 45, 50, 'data', 60}

In [97]:
set1 = {2,3,4,5,6,'data',7} #6
set2 = {5,6,7,8,9,'data',10,11}# 7
set3 = {'data',45,50,5,60,6}


new_set = set1.intersection(set2,set3)
print("set1 : ",set1)
print("set2 : ",set2)
print("set3 : ",set3)
print("new_set  :",new_set)

set1 :  {2, 3, 4, 5, 6, 7, 'data'}
set2 :  {5, 6, 7, 8, 9, 10, 11, 'data'}
set3 :  {5, 6, 45, 50, 'data', 60}
new_set  : {'data', 5, 6}