In [ ]:
string:
    join()

In [1]:
string = """Data science is an interdisciplinary field that uses scientific methods, 
processes, algorithms and systems to extract knowledge and insights from noisy, 
structured and unstructured data, and apply knowledge from 
data across a broad range of application domains"""
print(string)

Data science is an interdisciplinary field that uses scientific methods,
processes, algorithms and systems to extract knowledge and insights from noisy,
structured and unstructured data, and apply knowledge from
data across a broad range of application domains

In [3]:
list1 = string.split()
print(list1)

['Data', 'science', 'is', 'an', 'interdisciplinary', 'field', 'that', 'uses', 'scientific', 'methods,', 'processes,', 'algorithms', 'and', 'systems', 'to', 'extract', 'knowledge', 'and', 'insights', 'from', 'noisy,', 'structured', 'and', 'unstructured', 'data,', 'and', 'apply', 'knowledge', 'from', 'data', 'across', 'a', 'broad', 'range', 'of', 'application', 'domains']

In [ ]:
convert this list into string >>> join()

In [6]:
str1 = " ".join(list1)
print(str1)

Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from noisy, structured and unstructured data, and apply knowledge from data across a broad range of application domains

In [ ]:
string = "data science"

In [ ]:
str     : immutable,ordered,duplicates are allowed, '', """""",
list:     mutable ,ordered, duplicates are allowed, []
tuple   : immutable,ordered, duplicates are allowed,()
set     : mutable, unordered,duplicates are not allowed, indexing is not allowed,set(),{}
frozenset: immutable, unordered,duplicates are not allowed, indexing is not allowed,frozensetset(),{}

# Dictionary
used to store data in key : value pairs

In [ ]:
1. Mutable
2. it is collection of key and value pairs
3. we can not use indexing
4. duplicate keys are not allowed.
5. duplicate values are allowed.
6. are enclosed by {}

key >> int, float, str,complex,tuple,frozenset(Immutable data type)
values >> int, float, str,complex,tuple,frozenset,set, list, dict

ordered or not?
Ordered : if python version >=3.7
Unordered: if python version <3.7

In [ ]:
dict1 = {'A': 20,'B':30}  #key >>> A and B , Value>> 20,30

In [7]:
dict1 = {'A': 20,'B':30}
type(dict1)

dict

In [8]:
dict1 = {'A': 20,'B':30}
print(dict1)

{'A': 20, 'B': 30}

In [9]:
dict1 = {1:35,3.5:'python',"L": 45, "data": "science"}
type(dict1)

dict

In [10]:
dict1 = {1:35,3.5:'python',"L": 45, "data": "science"}
print(dict1)

{1: 35, 3.5: 'python', 'L': 45, 'data': 'science'}

In [13]:
dict1 = {1:{35,'python'},3.5:'python',"L": [45,25,56,456], "data": "science",3.6:'python'}
type(dict1)

dict

In [14]:
dict1 = {1:{35,'python'},3.5:'python',"L": [45,25,56,456], "data": "science",3.6:'python'}
print(dict1)

{1: {35, 'python'}, 3.5: 'python', 'L': [45, 25, 56, 456], 'data': 'science', 3.6: 'python'}

In [15]:
dict1 = {1:{35,'python'},3.5:'python',"L": [45,25,56,456], "data": "science",3.5:'class'}
print(dict1)

{1: {35, 'python'}, 3.5: 'class', 'L': [45, 25, 56, 456], 'data': 'science'}

In [16]:
dict1 = {1:{35,'python'},[3.5]:'python',"L": [45,25,56,456], "data": "science",3.5:'class'}
print(dict1)

TypeError: unhashable type: 'list'

In [19]:
dict1 = {1:{35,'python'},(3.5):'python',"L": [45,25,56,456], "data": "science",3.5:'xlass'}
print(dict1)

{1: {35, 'python'}, 3.5: 'xlass', 'L': [45, 25, 56, 456], 'data': 'science'}

In [18]:
dict2 = {'A':100,'B':100,'C':100,'D':100}
print(dict2)

{'A': 100, 'B': 100, 'C': 100, 'D': 100}

# Dictionary Function

In [ ]:
1. get()
2. keys()
3. values()
4. items()
5. update()
6. pop()
7. popitem()
8. clear()
9. fromkeys()
10. setdefault()
11. copy()

In [20]:
dict2 = {'A':100,'B':100,'C':100,'D':100}
dict2[0]

KeyError: 0

In [21]:
dict2 = {'A':100,'B':100,'C':100,'D':100}
dict2['A']

100

In [23]:
dict1 = {1:{35,'python'},(3.5):'python',"L": [45,25,56,456], "data": "science",3.5:'xlass'}
dict1[1] # 1 is key

{35, 'python'}

In [24]:
dict1 = {1:{35,'python'},(3.5):'python',"L": [45,25,56,456], "data": "science",3.5:'xlass'}
dict1['L']

[45, 25, 56, 456]

In [25]:
dict1 = {1:{35,'python'},(3.5):'python',"L": [45,25,56,456], "data": "science",3.5:'xlass'}
dict1

{1: {35, 'python'}, 3.5: 'xlass', 'L': [45, 25, 56, 456], 'data': 'science'}

### 1. get

In [ ]:
returns the value of specified key

In [26]:
dict1 = {1:{35,'python'},(3.5):'python',"L": [45,25,56,456], "data": "science",3.5:'xlass'}
dict1.get('L')

[45, 25, 56, 456]

In [27]:
dict1 = {1:{35,'python'},(3.5):'python',"L": [45,25,56,456], "data": "science",3.5:'xlass'}
dict1.get('data')

'science'

In [30]:
dict1 = {1:{35,'python'},(3.5):'python',"L": [45,25,56,456], "data": "science",3.5:'xlass'}
dict1.get(3.5)

'xlass'

### 2. keys

In [ ]:
returns the list of dictionary keys

In [75]:
dict1 = {1:{35,'python'},(3.5,):'python',"L": [45,25,56,456], "data": "science",3.5:'xlass'}

In [81]:
dict1 = {1:{35,'python'},(3.5,):'python',"K":None , "data": "science",3.5:'xlass'}
dict1.get('K')

In [34]:
dict1.get((3.5,))

'python'

In [35]:
dict1 = {1:{35,'python'},(3.5,):'python',"L": [45,25,56,456], "data": "science",3.5:'xlass'}
x = dict1.keys()
x

dict_keys([1, (3.5,), 'L', 'data', 3.5])

In [38]:
player = {'Name': 'Virat Kohli','Age': 35, 'Team':'India','Score': True}
x= player.keys()
x

dict_keys(['Name', 'Age', 'Team', 'Score'])

In [39]:
player = {'Name': 'Virat Kohli','Age': 35, False:'India','Score': True}
print(player)

{'Name': 'Virat Kohli', 'Age': 35, False: 'India', 'Score': True}

In [42]:
player = {'Name': 'Virat Kohli','Age': 35, 'Team':'India','Score': 100}

for key in player.keys():
    print('Key Is  :  ',key)

Key Is  :   Name
Key Is  :   Age
Key Is  :   Team
Key Is  :   Score

In [43]:
player = {'Name': 'Virat Kohli','Age': 35, 'Team':'India','Score': 100}

for key in player:
    print('Key Is  :  ',key)

Key Is  :   Name
Key Is  :   Age
Key Is  :   Team
Key Is  :   Score

### 3. Values

In [ ]:
returns list of dict values

In [44]:
player = {'Name': 'Virat Kohli','Age': 35, 'Team':'India','Score': 100}
player.values()

dict_values(['Virat Kohli', 35, 'India', 100])

In [45]:
player = {'Name': 'Virat Kohli','Age': 35, 'Team':'India','Score': 100}

for value in player.values():
    print('value Is  :  ',value)

value Is  :   Virat Kohli
value Is  :   35
value Is  :   India
value Is  :   100

### 4. items()

In [ ]:
returns list of tuple of key value pair

In [46]:
player = {'Name': 'Virat Kohli','Age': 35, 'Team':'India','Score': 100}
player.items()

dict_items([('Name', 'Virat Kohli'), ('Age', 35), ('Team', 'India'), ('Score', 100)])

In [49]:
player = {'Name': 'Virat Kohli','Age': 35, 'Team':'India','Score': 100}

for key,value in player.items():
    print(f"key is:    {key}    :and value is:    {value}")

key is:    Name    :and value is:    Virat Kohli
key is:    Age    :and value is:    35
key is:    Team    :and value is:    India
key is:    Score    :and value is:    100

### 5. update()
it updates the dictionary with specified key value pair

In [50]:
d1 = {}
d2 ={4:16,5:20,6:25}
d1.update(d2)
d1

{4: 16, 5: 20, 6: 25}

In [51]:
d1 = {'A':16,5:20,"data":25}
d2 ={3.5:98}
d1.update(d2)
d1

{'A': 16, 5: 20, 'data': 25, 3.5: 98}

In [52]:
player = {'Name': 'Virat Kohli','Age': 35, 'Team':'India','Score': 100}
player.update({'City':"Mumbai"})
player

{'Name': 'Virat Kohli',
 'Age': 35,
 'Team': 'India',
 'Score': 100,
 'City': 'Mumbai'}

In [53]:
player = {'Name': 'Virat Kohli','Age': 35, 'Team':'India','Score': 100}
player.update({'Country':"IND"})
player

{'Name': 'Virat Kohli',
 'Age': 35,
 'Team': 'India',
 'Score': 100,
 'Country': 'IND'}

In [55]:
player = {'Name': 'Virat Kohli','Age': 35, 'Team':'India','Score': 100}

player['Age']=36
player

{'Name': 'Virat Kohli', 'Age': 36, 'Team': 'India', 'Score': 100}

In [57]:
names = ['Rohit', 'Sachin', 'Virat', 'Dhoni']    #{'Rohit':35,}
age   = [35,45,34,44]

result ={}
for i, name in enumerate(names):
    result.update({name:age[i]})
    print(result)
    
type(result)

{'Rohit': 35}
{'Rohit': 35, 'Sachin': 45}
{'Rohit': 35, 'Sachin': 45, 'Virat': 34}
{'Rohit': 35, 'Sachin': 45, 'Virat': 34, 'Dhoni': 44}

dict

In [58]:
d1 = {'a':97,'b':56}
d2 = {'c':98,'d':57}
d1.update(d2)
print('D1   :',d1)
print('D2   :',d2)

D1   : {'a': 97, 'b': 56, 'c': 98, 'd': 57}
D2   : {'c': 98, 'd': 57}

In [59]:
d1 = {'a':97,'b':56}
d2 = {'c':98,'d':57}
d2.update(d1)
print('D1   :',d1)
print('D2   :',d2)

D1   : {'a': 97, 'b': 56}
D2   : {'c': 98, 'd': 57, 'a': 97, 'b': 56}

### How to delete items from dict

In [ ]:
1. pop()
2. popitem()
3. clear()

In [62]:
employee_details = {'Name': 'Vishal',
                    'Age' : 28,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}
# print(employee_details)
employee_details

{'Name': 'Vishal',
 'Age': 28,
 'Company': 'Wipro',
 'Designation': 'Data Scientist',
 'Location': 'Pune',
 'Salary': 95000}

### 1. pop()

In [ ]:
removes element with specified key

In [63]:
employee_details = {'Name': 'Vishal',
                    'Age' : 28,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}   #remove Location

employee_details.pop('Location')
employee_details

{'Name': 'Vishal',
 'Age': 28,
 'Company': 'Wipro',
 'Designation': 'Data Scientist',
 'Salary': 95000}

In [64]:
employee_details = {'Name': 'Vishal',
                    'Age' : 28,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}  

employee_details.pop('Salary')
employee_details

{'Name': 'Vishal',
 'Age': 28,
 'Company': 'Wipro',
 'Designation': 'Data Scientist',
 'Location': 'Pune'}

In [65]:
employee_details = {'Name': 'Vishal',
                    'Age' : 28,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}  

employee_details.pop('age')
employee_details

KeyError: 'age'

In [69]:
employee_details = {'Name': 'Vishal',
                    'Age' : 28,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}  
print('len of dict before poping is: ',len(employee_details))

employee_details.pop('Age')
print('len of dict after poping is : ',len(employee_details))
employee_details

len of dict before poping is:  6
len of dict after poping is :  5

{'Name': 'Vishal',
 'Company': 'Wipro',
 'Designation': 'Data Scientist',
 'Location': 'Pune',
 'Salary': 95000}

### 2. popitem()

In [ ]:
used to remove/delete last inserted item

In [70]:
employee_details = {'Name': 'Vishal',
                    'Age' : 28,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}  

employee_details.popitem()
employee_details

{'Name': 'Vishal',
 'Age': 28,
 'Company': 'Wipro',
 'Designation': 'Data Scientist',
 'Location': 'Pune'}

In [71]:
employee_details = {'Name': 'Vishal',
                    'Age' : 28,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}  
print('len of dict before popitem is: ',len(employee_details))

employee_details.popitem()
print('len of dict after popitem is : ',len(employee_details))
employee_details

len of dict before popitem is:  6
len of dict after popitem is :  5

{'Name': 'Vishal',
 'Age': 28,
 'Company': 'Wipro',
 'Designation': 'Data Scientist',
 'Location': 'Pune'}

### 3. clear()

In [ ]:
remove all element from dict

In [72]:
employee_details = {'Name': 'Vishal',
                    'Age' : 28,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}  

employee_details.clear()
employee_details

{}

### 4. del keyword

In [73]:
employee_details = {'Name': 'Vishal',
                    'Age' : 28,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}  

del employee_details
employee_details

NameError: name 'employee_details' is not defined

In [74]:
employee_details = {'Name': 'Vishal',
                    'Age' : 28,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}  

del employee_details['Age']
employee_details

{'Name': 'Vishal',
 'Company': 'Wipro',
 'Designation': 'Data Scientist',
 'Location': 'Pune',
 'Salary': 95000}