In [ ]:
string:
    join()

In [1]:
string = """Data science is an interdisciplinary field that uses scientific methods, 
processes, algorithms and systems to extract knowledge and insights from noisy, 
structured and unstructured data, and apply knowledge from 
data across a broad range of application domains"""
print(string)

Data science is an interdisciplinary field that uses scientific methods,
processes, algorithms and systems to extract knowledge and insights from noisy,
structured and unstructured data, and apply knowledge from
data across a broad range of application domains

In [3]:
list1 = string.split()
print(list1)

['Data', 'science', 'is', 'an', 'interdisciplinary', 'field', 'that', 'uses', 'scientific', 'methods,', 'processes,', 'algorithms', 'and', 'systems', 'to', 'extract', 'knowledge', 'and', 'insights', 'from', 'noisy,', 'structured', 'and', 'unstructured', 'data,', 'and', 'apply', 'knowledge', 'from', 'data', 'across', 'a', 'broad', 'range', 'of', 'application', 'domains']

In [ ]:
convert this list into string >>> join()

In [6]:
str1 = " ".join(list1)
print(str1)

Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from noisy, structured and unstructured data, and apply knowledge from data across a broad range of application domains

In [ ]:
string = "data science"

In [ ]:
str     : immutable,ordered,duplicates are allowed, '', """""",
list:     mutable ,ordered, duplicates are allowed, []
tuple   : immutable,ordered, duplicates are allowed,()
set     : mutable, unordered,duplicates are not allowed, indexing is not allowed,set(),{}
frozenset: immutable, unordered,duplicates are not allowed, indexing is not allowed,frozensetset(),{}

# Dictionary
used to store data in key : value pairs

In [ ]:
1. Mutable
2. it is collection of key and value pairs
3. we can not use indexing
4. duplicate keys are not allowed.
5. duplicate values are allowed.
6. are enclosed by {}

key >> int, float, str,complex,tuple,frozenset(Immutable data type)
values >> int, float, str,complex,tuple,frozenset,set, list, dict

ordered or not?
Ordered : if python version >=3.7
Unordered: if python version <3.7

In [ ]:
dict1 = {'A': 20,'B':30}  #key >>> A and B , Value>> 20,30

In [7]:
dict1 = {'A': 20,'B':30}
type(dict1)

dict

In [8]:
dict1 = {'A': 20,'B':30}
print(dict1)

{'A': 20, 'B': 30}

In [9]:
dict1 = {1:35,3.5:'python',"L": 45, "data": "science"}
type(dict1)

dict

In [10]:
dict1 = {1:35,3.5:'python',"L": 45, "data": "science"}
print(dict1)

{1: 35, 3.5: 'python', 'L': 45, 'data': 'science'}

In [13]:
dict1 = {1:{35,'python'},3.5:'python',"L": [45,25,56,456], "data": "science",3.6:'python'}
type(dict1)

dict

In [14]:
dict1 = {1:{35,'python'},3.5:'python',"L": [45,25,56,456], "data": "science",3.6:'python'}
print(dict1)

{1: {35, 'python'}, 3.5: 'python', 'L': [45, 25, 56, 456], 'data': 'science', 3.6: 'python'}

In [15]:
dict1 = {1:{35,'python'},3.5:'python',"L": [45,25,56,456], "data": "science",3.5:'class'}
print(dict1)

{1: {35, 'python'}, 3.5: 'class', 'L': [45, 25, 56, 456], 'data': 'science'}

In [16]:
dict1 = {1:{35,'python'},[3.5]:'python',"L": [45,25,56,456], "data": "science",3.5:'class'}
print(dict1)

TypeError: unhashable type: 'list'

In [19]:
dict1 = {1:{35,'python'},(3.5):'python',"L": [45,25,56,456], "data": "science",3.5:'xlass'}
print(dict1)

{1: {35, 'python'}, 3.5: 'xlass', 'L': [45, 25, 56, 456], 'data': 'science'}

In [18]:
dict2 = {'A':100,'B':100,'C':100,'D':100}
print(dict2)

{'A': 100, 'B': 100, 'C': 100, 'D': 100}

# Dictionary Function

In [ ]:
1. get()
2. keys()
3. values()
4. items()
5. update()
6. pop()
7. popitem()
8. clear()
9. fromkeys()
10. setdefault()
11. copy()

In [20]:
dict2 = {'A':100,'B':100,'C':100,'D':100}
dict2[0]

KeyError: 0

In [21]:
dict2 = {'A':100,'B':100,'C':100,'D':100}
dict2['A']

100

In [23]:
dict1 = {1:{35,'python'},(3.5):'python',"L": [45,25,56,456], "data": "science",3.5:'xlass'}
dict1[1] # 1 is key

{35, 'python'}

In [24]:
dict1 = {1:{35,'python'},(3.5):'python',"L": [45,25,56,456], "data": "science",3.5:'xlass'}
dict1['L']

[45, 25, 56, 456]

In [2]:
dict1 = {1:{35,'python'},(3.5):'python',"L": [45,25,56,456], "data": "science",3.5:'xlass'}
dict1

{1: {35, 'python'}, 3.5: 'xlass', 'L': [45, 25, 56, 456], 'data': 'science'}

In [4]:
dict1 = {frozenset({35,'python'}):{36,'hon'},(3.5):'python',"L": [45,25,56,456], "data": "science",3.5:'xlass'}
dict1

{frozenset({35, 'python'}): {36, 'hon'},
 3.5: 'xlass',
 'L': [45, 25, 56, 456],
 'data': 'science'}

In [5]:
dict1 = {{35,'python'}:{36,'hon'},(3.5):'python',"L": [45,25,56,456], "data": "science",3.5:'xlass'}
dict1

TypeError: unhashable type: 'set'

### 1. get

In [ ]:
returns the value of specified key

In [26]:
dict1 = {1:{35,'python'},(3.5):'python',"L": [45,25,56,456], "data": "science",3.5:'xlass'}
dict1.get('L')

[45, 25, 56, 456]

In [27]:
dict1 = {1:{35,'python'},(3.5):'python',"L": [45,25,56,456], "data": "science",3.5:'xlass'}
dict1.get('data')

'science'

In [30]:
dict1 = {1:{35,'python'},(3.5):'python',"L": [45,25,56,456], "data": "science",3.5:'xlass'}
dict1.get(3.5)

'xlass'

### 2. keys

In [ ]:
returns the list of dictionary keys

In [75]:
dict1 = {1:{35,'python'},(3.5,):'python',"L": [45,25,56,456], "data": "science",3.5:'xlass'}

In [81]:
dict1 = {1:{35,'python'},(3.5,):'python',"K":None , "data": "science",3.5:'xlass'}
dict1.get('K')

In [34]:
dict1.get((3.5,))

'python'

In [35]:
dict1 = {1:{35,'python'},(3.5,):'python',"L": [45,25,56,456], "data": "science",3.5:'xlass'}
x = dict1.keys()
x

dict_keys([1, (3.5,), 'L', 'data', 3.5])

In [38]:
player = {'Name': 'Virat Kohli','Age': 35, 'Team':'India','Score': True}
x= player.keys()
x

dict_keys(['Name', 'Age', 'Team', 'Score'])

In [39]:
player = {'Name': 'Virat Kohli','Age': 35, False:'India','Score': True}
print(player)

{'Name': 'Virat Kohli', 'Age': 35, False: 'India', 'Score': True}

In [42]:
player = {'Name': 'Virat Kohli','Age': 35, 'Team':'India','Score': 100}

for key in player.keys():
    print('Key Is  :  ',key)

Key Is  :   Name
Key Is  :   Age
Key Is  :   Team
Key Is  :   Score

In [43]:
player = {'Name': 'Virat Kohli','Age': 35, 'Team':'India','Score': 100}

for key in player:
    print('Key Is  :  ',key)

Key Is  :   Name
Key Is  :   Age
Key Is  :   Team
Key Is  :   Score

### 3. Values

In [ ]:
returns list of dict values

In [44]:
player = {'Name': 'Virat Kohli','Age': 35, 'Team':'India','Score': 100}
player.values()

dict_values(['Virat Kohli', 35, 'India', 100])

In [45]:
player = {'Name': 'Virat Kohli','Age': 35, 'Team':'India','Score': 100}

for value in player.values():
    print('value Is  :  ',value)

value Is  :   Virat Kohli
value Is  :   35
value Is  :   India
value Is  :   100

### 4. items()

In [ ]:
returns list of tuple of key value pair

In [46]:
player = {'Name': 'Virat Kohli','Age': 35, 'Team':'India','Score': 100}
player.items()

dict_items([('Name', 'Virat Kohli'), ('Age', 35), ('Team', 'India'), ('Score', 100)])

In [49]:
player = {'Name': 'Virat Kohli','Age': 35, 'Team':'India','Score': 100}

for key,value in player.items():
    print(f"key is:    {key}    :and value is:    {value}")

key is:    Name    :and value is:    Virat Kohli
key is:    Age    :and value is:    35
key is:    Team    :and value is:    India
key is:    Score    :and value is:    100

### 5. update()
it updates the dictionary with specified key value pair

In [50]:
d1 = {}
d2 ={4:16,5:20,6:25}
d1.update(d2)
d1

{4: 16, 5: 20, 6: 25}

In [51]:
d1 = {'A':16,5:20,"data":25}
d2 ={3.5:98}
d1.update(d2)
d1

{'A': 16, 5: 20, 'data': 25, 3.5: 98}

In [52]:
player = {'Name': 'Virat Kohli','Age': 35, 'Team':'India','Score': 100}
player.update({'City':"Mumbai"})
player

{'Name': 'Virat Kohli',
 'Age': 35,
 'Team': 'India',
 'Score': 100,
 'City': 'Mumbai'}

In [53]:
player = {'Name': 'Virat Kohli','Age': 35, 'Team':'India','Score': 100}
player.update({'Country':"IND"})
player

{'Name': 'Virat Kohli',
 'Age': 35,
 'Team': 'India',
 'Score': 100,
 'Country': 'IND'}

In [55]:
player = {'Name': 'Virat Kohli','Age': 35, 'Team':'India','Score': 100}

player['Age']=36
player

{'Name': 'Virat Kohli', 'Age': 36, 'Team': 'India', 'Score': 100}

In [57]:
names = ['Rohit', 'Sachin', 'Virat', 'Dhoni']    #{'Rohit':35,}
age   = [35,45,34,44]

result ={}
for i, name in enumerate(names):
    result.update({name:age[i]})
    print(result)
    
type(result)

{'Rohit': 35}
{'Rohit': 35, 'Sachin': 45}
{'Rohit': 35, 'Sachin': 45, 'Virat': 34}
{'Rohit': 35, 'Sachin': 45, 'Virat': 34, 'Dhoni': 44}

dict

In [58]:
d1 = {'a':97,'b':56}
d2 = {'c':98,'d':57}
d1.update(d2)
print('D1   :',d1)
print('D2   :',d2)

D1   : {'a': 97, 'b': 56, 'c': 98, 'd': 57}
D2   : {'c': 98, 'd': 57}

In [59]:
d1 = {'a':97,'b':56}
d2 = {'c':98,'d':57}
d2.update(d1)
print('D1   :',d1)
print('D2   :',d2)

D1   : {'a': 97, 'b': 56}
D2   : {'c': 98, 'd': 57, 'a': 97, 'b': 56}

### How to delete items from dict

In [ ]:
1. pop()
2. popitem()
3. clear()

In [62]:
employee_details = {'Name': 'Vishal',
                    'Age' : 28,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}
# print(employee_details)
employee_details

{'Name': 'Vishal',
 'Age': 28,
 'Company': 'Wipro',
 'Designation': 'Data Scientist',
 'Location': 'Pune',
 'Salary': 95000}

### 1. pop()

In [ ]:
removes element with specified key

In [63]:
employee_details = {'Name': 'Vishal',
                    'Age' : 28,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}   #remove Location

employee_details.pop('Location')
employee_details

{'Name': 'Vishal',
 'Age': 28,
 'Company': 'Wipro',
 'Designation': 'Data Scientist',
 'Salary': 95000}

In [64]:
employee_details = {'Name': 'Vishal',
                    'Age' : 28,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}  

employee_details.pop('Salary')
employee_details

{'Name': 'Vishal',
 'Age': 28,
 'Company': 'Wipro',
 'Designation': 'Data Scientist',
 'Location': 'Pune'}

In [65]:
employee_details = {'Name': 'Vishal',
                    'Age' : 28,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}  

employee_details.pop('age')
employee_details

KeyError: 'age'

In [69]:
employee_details = {'Name': 'Vishal',
                    'Age' : 28,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}  
print('len of dict before poping is: ',len(employee_details))

employee_details.pop('Age')
print('len of dict after poping is : ',len(employee_details))
employee_details

len of dict before poping is:  6
len of dict after poping is :  5

{'Name': 'Vishal',
 'Company': 'Wipro',
 'Designation': 'Data Scientist',
 'Location': 'Pune',
 'Salary': 95000}

### 2. popitem()

In [ ]:
used to remove/delete last inserted item

In [70]:
employee_details = {'Name': 'Vishal',
                    'Age' : 28,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}  

employee_details.popitem()
employee_details

{'Name': 'Vishal',
 'Age': 28,
 'Company': 'Wipro',
 'Designation': 'Data Scientist',
 'Location': 'Pune'}

In [71]:
employee_details = {'Name': 'Vishal',
                    'Age' : 28,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}  
print('len of dict before popitem is: ',len(employee_details))

employee_details.popitem()
print('len of dict after popitem is : ',len(employee_details))
employee_details

len of dict before popitem is:  6
len of dict after popitem is :  5

{'Name': 'Vishal',
 'Age': 28,
 'Company': 'Wipro',
 'Designation': 'Data Scientist',
 'Location': 'Pune'}

### 3. clear()

In [ ]:
remove all element from dict

In [72]:
employee_details = {'Name': 'Vishal',
                    'Age' : 28,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}  

employee_details.clear()
employee_details

{}

### 4. del keyword

In [73]:
employee_details = {'Name': 'Vishal',
                    'Age' : 28,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}  

del employee_details
employee_details

NameError: name 'employee_details' is not defined

In [74]:
employee_details = {'Name': 'Vishal',
                    'Age' : 28,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}  

del employee_details['Age']
employee_details

{'Name': 'Vishal',
 'Company': 'Wipro',
 'Designation': 'Data Scientist',
 'Location': 'Pune',
 'Salary': 95000}

## Nested Dictionary

In [ ]:
Dict in dict

In [6]:
employee_details = {'Name': 'Vishal',
                    'Age' : 28,
                    'Company': 'Wipro',
                    'Designation': 'Data Scientist',
                    'Location': 'Pune',
                    'Salary': 95000}  
len(employee_details)

6

In [8]:
employee_details = {"TCS10005": {'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000},
                    "TCS10006" :{'Name': 'Pravin',
                                'Age' : 27,
                                'Designation': 'Python Developer',
                                'Location': 'Mumbai',
                                'Salary': 80000},
                    "TCS10007" :{'Name': 'Anand',
                                'Age' : 29,
                                'Designation': 'Data Analyst',
                                'Location': 'Banglore',
                                'Salary': 90000}}
len(employee_details)

3

In [9]:
employee_details = {"TCS10005": {'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000}}
len(employee_details)

1

In [11]:
employee_details = {"TCS10005": {'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000},
                    "TCS10006" :{'Name': 'Pravin',
                                'Age' : 27,
                                'Designation': 'Python Developer',
                                'Location': 'Mumbai',
                                'Salary': 80000},
                    "TCS10007" :{'Name': 'Anand',
                                'Age' : 29,
                                'Designation': 'Data Analyst',
                                'Location': 'Banglore',
                                'Salary': 90000}}
employee_details

{'TCS10005': {'Name': 'Vishal',
  'Age': 28,
  'Designation': 'Data Scientist',
  'Location': 'Pune',
  'Salary': 95000},
 'TCS10006': {'Name': 'Pravin',
  'Age': 27,
  'Designation': 'Python Developer',
  'Location': 'Mumbai',
  'Salary': 80000},
 'TCS10007': {'Name': 'Anand',
  'Age': 29,
  'Designation': 'Data Analyst',
  'Location': 'Banglore',
  'Salary': 90000}}

In [12]:
employee_details = {"TCS10005": {'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000},
                    "TCS10006" :{'Name': 'Pravin',
                                'Age' : 27,
                                'Designation': 'Python Developer',
                                'Location': 'Mumbai',
                                'Salary': 80000},
                    "TCS10007" :{'Name': 'Anand',
                                'Age' : 29,
                                'Designation': 'Data Analyst',
                                'Location': 'Banglore',
                                'Salary': 90000}}

employee_details['TCS10005']['Name'] #dict

'Vishal'

In [13]:
employee_details = {"TCS10005": {'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000},
                    "TCS10006" :{'Name': 'Pravin',
                                'Age' : 27,
                                'Designation': 'Python Developer',
                                'Location': 'Mumbai',
                                'Salary': 80000},
                    "TCS10007" :{'Name': 'Anand',
                                'Age' : 29,
                                'Designation': 'Data Analyst',
                                'Location': 'Banglore',
                                'Salary': 90000}}

employee_details['TCS10006']['Name'] # dict

'Pravin'

In [14]:
employee_details = {"TCS10005": {'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000},
                    "TCS10006" :{'Name': 'Pravin',
                                'Age' : 27,
                                'Designation': 'Python Developer',
                                'Location': 'Mumbai',
                                'Salary': [80000,40000,60000,70000]},
                    "TCS10007" :{'Name': 'Anand',
                                'Age' : 29,
                                'Designation': 'Data Analyst',
                                'Location': 'Banglore',
                                'Salary': 90000}}

employee_details['TCS10006']['Salary'] #list

[80000, 40000, 60000, 70000]

In [15]:
employee_details = {"TCS10005": {'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000},
                    "TCS10006" :{'Name': 'Pravin',
                                'Age' : 27,
                                'Designation': 'Python Developer',
                                'Location': 'Mumbai',
                                'Salary': [80000,40000,60000,70000]},
                    "TCS10007" :{'Name': 'Anand',
                                'Age' : 29,
                                'Designation': 'Data Analyst',
                                'Location': 'Banglore',
                                'Salary': 90000}}

employee_details['TCS10006']['Salary'][1]

40000

In [16]:
employee_details = {"TCS10005": {'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000},
                    "TCS10006" :{'Name': 'Pravin',
                                'Age' : 27,
                                'Designation': 'Python Developer',
                                'Location': 'Mumbai',
                                'Salary': [80000,40000,60000,70000]},
                    "TCS10007" :{'Name': 'Anand',
                                'Age' : 29,
                                'Designation': 'Data Analyst',
                                'Location': 'Banglore',
                                'Salary': 90000}}

employee_details['TCS10006'].get('Salary').append(120000)
employee_details

{'TCS10005': {'Name': 'Vishal',
  'Age': 28,
  'Designation': 'Data Scientist',
  'Location': 'Pune',
  'Salary': 95000},
 'TCS10006': {'Name': 'Pravin',
  'Age': 27,
  'Designation': 'Python Developer',
  'Location': 'Mumbai',
  'Salary': [80000, 40000, 60000, 70000, 120000]},
 'TCS10007': {'Name': 'Anand',
  'Age': 29,
  'Designation': 'Data Analyst',
  'Location': 'Banglore',
  'Salary': 90000}}

In [17]:
employee_details = {"TCS10005": {'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000},
                    "TCS10006" :{'Name': 'Pravin',
                                'Age' : 27,
                                'Designation': 'Python Developer', #aplication developer
                                'Location': 'Mumbai',
                                'Salary': [80000,40000,60000,70000]},
                    "TCS10007" :{'Name': 'Anand',
                                'Age' : 29,
                                'Designation': 'Data Analyst',
                                'Location': 'Banglore',
                                'Salary': 90000}}

employee_details['TCS10006']['Designation'] = "Application Developer"
employee_details

{'TCS10005': {'Name': 'Vishal',
  'Age': 28,
  'Designation': 'Data Scientist',
  'Location': 'Pune',
  'Salary': 95000},
 'TCS10006': {'Name': 'Pravin',
  'Age': 27,
  'Designation': 'Application Developer',
  'Location': 'Mumbai',
  'Salary': [80000, 40000, 60000, 70000]},
 'TCS10007': {'Name': 'Anand',
  'Age': 29,
  'Designation': 'Data Analyst',
  'Location': 'Banglore',
  'Salary': 90000}}

### fromkeys

In [ ]:
returns a dict with the specified keys and values

In [ ]:
dict.fromkeys(sequence,value)
default value is None

In [18]:
list1 = ['Phy','Che','Math','Eng','Bio']  #90
dict1 = {'Phy':90,'Che':90,'Math':90,'Eng':90,'Bio':90}
dict1

{'Phy': 90, 'Che': 90, 'Math': 90, 'Eng': 90, 'Bio': 90}

In [19]:
list1 = ['Phy','Che','Math','Eng','Bio']
d1 = {}
for sub in list1:
    d1.update({sub:90})
    print(d1)

{'Phy': 90}
{'Phy': 90, 'Che': 90}
{'Phy': 90, 'Che': 90, 'Math': 90}
{'Phy': 90, 'Che': 90, 'Math': 90, 'Eng': 90}
{'Phy': 90, 'Che': 90, 'Math': 90, 'Eng': 90, 'Bio': 90}

In [20]:
list1 = ['Phy','Che','Math','Eng','Bio']
result = dict.fromkeys(list1)
result

{'Phy': None, 'Che': None, 'Math': None, 'Eng': None, 'Bio': None}

In [21]:
list1 = ['Phy','Che','Math','Eng','Bio']
result = dict.fromkeys(list1,90)
result

{'Phy': 90, 'Che': 90, 'Math': 90, 'Eng': 90, 'Bio': 90}

In [22]:
list1 = ['Phy','Che','Math','Eng','Bio']
result = dict.fromkeys(list1,[90,50,40])
result

{'Phy': [90, 50, 40],
 'Che': [90, 50, 40],
 'Math': [90, 50, 40],
 'Eng': [90, 50, 40],
 'Bio': [90, 50, 40]}

In [23]:
list1 = ['Phy','Che','Math','Eng','Bio']
mark  = [80,85,90,87,95]
# {'Phy': 80, 'Che': 85, 'Math': 90, 'Eng': 87, 'Bio': 95}

In [24]:
dict(zip(list1,mark))

{'Phy': 80, 'Che': 85, 'Math': 90, 'Eng': 87, 'Bio': 95}

In [25]:
list1 = ['Phy','Che','Math','Eng','Bio']
result = dict.fromkeys(list1,1000)
result

{'Phy': 1000, 'Che': 1000, 'Math': 1000, 'Eng': 1000, 'Bio': 1000}

In [26]:

result = dict.fromkeys('python',50)
result

{'p': 50, 'y': 50, 't': 50, 'h': 50, 'o': 50, 'n': 50}

In [27]:
result = dict.fromkeys('python',1000)
result

{'p': 1000, 'y': 1000, 't': 1000, 'h': 1000, 'o': 1000, 'n': 1000}

### setdefault

In [ ]:
gives value of specified key,
if key does not exists >> insert the key with value 
default value is None

In [30]:
employee_details = { 'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000}

employee_details.get('Salary')

95000

In [31]:
employee_details = { 'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000}

employee_details.setdefault('Salary')

95000

In [35]:
employee_details = { 'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000}

employee_details.get('Loca')

In [37]:
employee_details = { 'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000}

employee_details.setdefault('Gender')
employee_details

{'Name': 'Vishal',
 'Age': 28,
 'Designation': 'Data Scientist',
 'Location': 'Pune',
 'Salary': 95000,
 'Gender': None}

In [38]:
employee_details = { 'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000}

employee_details.setdefault('Gender','Male')
employee_details

{'Name': 'Vishal',
 'Age': 28,
 'Designation': 'Data Scientist',
 'Location': 'Pune',
 'Salary': 95000,
 'Gender': 'Male'}

In [39]:
employee_details = { 'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000}

employee_details.setdefault('Company')
employee_details

{'Name': 'Vishal',
 'Age': 28,
 'Designation': 'Data Scientist',
 'Location': 'Pune',
 'Salary': 95000,
 'Company': None}

In [40]:
employee_details = { 'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000}

employee_details.setdefault('Company','Capgemini')
employee_details

{'Name': 'Vishal',
 'Age': 28,
 'Designation': 'Data Scientist',
 'Location': 'Pune',
 'Salary': 95000,
 'Company': 'Capgemini'}

### copy

In [ ]:
gives copy of new dict

In [41]:
employee_details = { 'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000}

new_dict = employee_details.copy()
new_dict.update({'Salary':60000})

print('Employee_details   : ',employee_details)
print('New_Dict   : ',new_dict)

Employee_details   :  {'Name': 'Vishal', 'Age': 28, 'Designation': 'Data Scientist', 'Location': 'Pune', 'Salary': 95000}
New_Dict   :  {'Name': 'Vishal', 'Age': 28, 'Designation': 'Data Scientist', 'Location': 'Pune', 'Salary': 60000}

# ASCII Values

In [ ]:
# dict1 ={'A':65,'B':66,.......'Z':90}
# dict1 ={'a':97,'b':98,.......'z':122}

In [42]:
result = {}
for i in range(65,91):
    result.update({chr(i):i})
print(result)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

In [45]:
result = {}
for i in range(97,123):
    result.update({chr(i):i})
print(result)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [46]:
result = {}
for i in range(65,91):
    result[chr(i)]=i
print(result)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

# cubes

In [ ]:
# cube = {1:1,2:8,......10:1000}

In [47]:
cube= {}
for i in range(1,11):
    cube.update({i:i**3})
print(cube)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [48]:
sqr= {}
for i in range(1,11):
    sqr.update({i:i**2})
print(sqr)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [49]:
string = '''Data science is an interdisciplinary field that uses 
scientific methods, processes, algorithms and systems to extract knowledge and 
insights from noisy, structured and unstructured data, and apply knowledge 
from data across a broad range of application domains'''
print(string)

Data science is an interdisciplinary field that uses
scientific methods, processes, algorithms and systems to extract knowledge and
insights from noisy, structured and unstructured data, and apply knowledge
from data across a broad range of application domains

In [50]:
list1 = string.split()
print(list1,len(list1))

['Data', 'science', 'is', 'an', 'interdisciplinary', 'field', 'that', 'uses', 'scientific', 'methods,', 'processes,', 'algorithms', 'and', 'systems', 'to', 'extract', 'knowledge', 'and', 'insights', 'from', 'noisy,', 'structured', 'and', 'unstructured', 'data,', 'and', 'apply', 'knowledge', 'from', 'data', 'across', 'a', 'broad', 'range', 'of', 'application', 'domains'] 37

In [51]:
result = {}
for word in list1:
    count=list1.count(word)
    result.update({word:count})
print(result)

{'Data': 1, 'science': 1, 'is': 1, 'an': 1, 'interdisciplinary': 1, 'field': 1, 'that': 1, 'uses': 1, 'scientific': 1, 'methods,': 1, 'processes,': 1, 'algorithms': 1, 'and': 4, 'systems': 1, 'to': 1, 'extract': 1, 'knowledge': 2, 'insights': 1, 'from': 2, 'noisy,': 1, 'structured': 1, 'unstructured': 1, 'data,': 1, 'apply': 1, 'data': 1, 'across': 1, 'a': 1, 'broad': 1, 'range': 1, 'of': 1, 'application': 1, 'domains': 1}

In [52]:
result = {}
for word in set(list1):
    count=list1.count(word)
    result.update({word:count})
print(result)

{'is': 1, 'domains': 1, 'Data': 1, 'data': 1, 'to': 1, 'uses': 1, 'field': 1, 'unstructured': 1, 'data,': 1, 'processes,': 1, 'noisy,': 1, 'and': 4, 'extract': 1, 'interdisciplinary': 1, 'apply': 1, 'application': 1, 'science': 1, 'insights': 1, 'from': 2, 'of': 1, 'algorithms': 1, 'range': 1, 'systems': 1, 'broad': 1, 'methods,': 1, 'across': 1, 'a': 1, 'an': 1, 'that': 1, 'structured': 1, 'knowledge': 2, 'scientific': 1}

# Sorting

In [53]:
sub_marks = {'Phy': 80, 'Che': 85, 'Math': 90, 'Eng': 87, 'Bio': 95}
sub_marks

{'Phy': 80, 'Che': 85, 'Math': 90, 'Eng': 87, 'Bio': 95}

In [ ]:
# {bio,che,eng,math,phy}

### 1. sort dict by using keys

In [54]:
sub_marks = {'Phy': 80, 'Che': 85, 'Math': 90, 'Eng': 87, 'Bio': 95}
# result = # {bio,che,eng,math,phy}

result = {}
for sub in sorted(sub_marks.keys()):
    result.update({sub:sub_marks[sub]})
    print(result)

{'Bio': 95}
{'Bio': 95, 'Che': 85}
{'Bio': 95, 'Che': 85, 'Eng': 87}
{'Bio': 95, 'Che': 85, 'Eng': 87, 'Math': 90}
{'Bio': 95, 'Che': 85, 'Eng': 87, 'Math': 90, 'Phy': 80}

### 1. sort dict by using values

In [55]:
sub_marks = {'Phy': 80, 'Che': 85, 'Math': 90, 'Eng': 87, 'Bio': 95}
# result = {80,85,87,90,95}

result = {}
for marks in sorted(sub_marks.values()):
    print('Marks: ',marks)
    for sub in sub_marks:   #5 times
        print('Sub is : ',sub)
        if marks == sub_marks[sub]:  #90==90
            result.update({sub:marks})
            print(result)
            break
    print()

Marks:  80
Sub is :  Phy
{'Phy': 80}

Marks:  85
Sub is :  Phy
Sub is :  Che
{'Phy': 80, 'Che': 85}

Marks:  87
Sub is :  Phy
Sub is :  Che
Sub is :  Math
Sub is :  Eng
{'Phy': 80, 'Che': 85, 'Eng': 87}

Marks:  90
Sub is :  Phy
Sub is :  Che
Sub is :  Math
{'Phy': 80, 'Che': 85, 'Eng': 87, 'Math': 90}

Marks:  95
Sub is :  Phy
Sub is :  Che
Sub is :  Math
Sub is :  Eng
Sub is :  Bio
{'Phy': 80, 'Che': 85, 'Eng': 87, 'Math': 90, 'Bio': 95}

In [57]:
sub_marks = {'Phy': 80, 'Che': 81, 'Math': 90, 'Eng': 87, 'Bio': 95}
# result = {80,85,87,90,95}

result = {}
for marks in sorted(sub_marks.values()):
    print('Marks: ',marks)
    for sub in sub_marks:   #5 times
        print('Sub is : ',sub)
        if marks == sub_marks[sub]:  #90==90
            result.update({sub:marks})
            print(result)
            break
    print()

Marks:  80
Sub is :  Phy
{'Phy': 80}

Marks:  81
Sub is :  Phy
Sub is :  Che
{'Phy': 80, 'Che': 81}

Marks:  87
Sub is :  Phy
Sub is :  Che
Sub is :  Math
Sub is :  Eng
{'Phy': 80, 'Che': 81, 'Eng': 87}

Marks:  90
Sub is :  Phy
Sub is :  Che
Sub is :  Math
{'Phy': 80, 'Che': 81, 'Eng': 87, 'Math': 90}

Marks:  95
Sub is :  Phy
Sub is :  Che
Sub is :  Math
Sub is :  Eng
Sub is :  Bio
{'Phy': 80, 'Che': 81, 'Eng': 87, 'Math': 90, 'Bio': 95}

In [58]:
sub_marks = {'Phy': 80, 'Che': 81, 'Math': 90, 'Eng': 87, 'Bio': 95}

result = {}
for marks in sorted(sub_marks.values()):
    
    for sub in sub_marks:   #5 times
        
        if marks == sub_marks[sub]:  #90==90
            result.update({sub:marks})
            
            break
result

{'Phy': 80, 'Che': 81, 'Eng': 87, 'Math': 90, 'Bio': 95}