# Functions

In [ ]:
Functions are resuable block of code
function run when it is called
def keyword is used to define a function
def function_name

function_name >> we need to follow identifier rules
to call the function use >> function_name()

def function_name(parameters):

    
parameters >>> optional
colon >> mandatory
docstring >> Documentation string , used to describe functionality of function >> optional

return >> optional

Return >> used at the end of function
>> if we want to continue with the result of our function and want to do some operation on result
then we need to use return statement

# syntax

In [ ]:
def function_name(parameter):
    """Documentation string >> functionality """
    statement1
    statement2
    .
    .
    .
    statementN
    
    return value

function_name(argument)

In [ ]:
def function_name(a,b):
    """Documentation string >> functionality """
    statement1
    statement2
    .
    .
    .
    statementN
    
    return value

function_name(a,b)

In [1]:
print('hello python')

hello python

In [2]:
print('hello python')

hello python

In [3]:
print('hello python')
print('we are learning functions')

hello python
we are learning functions

In [4]:
print('hello python')
print('we are learning functions')
print('Machine Learning')
print('Python and Data Science')

print('*'*80)

x = 4
y = 10

print('hello python')
print('we are learning functions')
print('Machine Learning')
print('Python and Data Science')

x = 5
y = 11

print('*'*80)

print('hello python')
print('we are learning functions')
print('Machine Learning')
print('Python and Data Science')

hello python
we are learning functions
Machine Learning
Python and Data Science
********************************************************************************
hello python
we are learning functions
Machine Learning
Python and Data Science
********************************************************************************
hello python
we are learning functions
Machine Learning
Python and Data Science

In [5]:
def testing():
    print('hello python')
    print('we are learning functions')
    print('Machine Learning')
    print('Python and Data Science')

print('Deep Learning')

Deep Learning

In [6]:
def testing():
    print('hello python')
    print('we are learning functions')
    print('Machine Learning')
    print('Python and Data Science')

print('Deep Learning')

testing()

Deep Learning
hello python
we are learning functions
Machine Learning
Python and Data Science

In [7]:
testing()

hello python
we are learning functions
Machine Learning
Python and Data Science

In [8]:
testing()

hello python
we are learning functions
Machine Learning
Python and Data Science

In [9]:
def my_function():
    print('we are in my_function')
    
my_function()

we are in my_function

In [10]:
def linear_regression():
    print('Linear_regression_function')

def logistic_regression():
    print('logistic_regression_function')
    
def decision_tree_classifier():
    print('decision_tree_classifier_function')
    
def random_forest_classifier():
    print('random_forest_classifier')

In [11]:
logistic_regression()

logistic_regression_function

In [12]:
decision_tree_classifier()

decision_tree_classifier_function

In [13]:
random_forest_classifier()

random_forest_classifier

In [14]:
linear_regression()

Linear_regression_function

In [17]:
a = 10
b = 20
c = 50

print(f"a == {a}, b == {b}, c == {c}")

avg = (a+b+c)/3

print('average of 3 number is: ',avg)

a = 52
b = 26
c = 59

print(f"a == {a}, b == {b}, c == {c}")

avg = (a+b+c)/3

print('average of 3 number is: ',avg)
a = 152
b = 208
c = 500

print(f"a == {a}, b == {b}, c == {c}")

avg = (a+b+c)/3

print('average of 3 number is: ',avg)

a == 10, b == 20, c == 50
average of 3 number is:  26.666666666666668
a == 52, b == 26, c == 59
average of 3 number is:  45.666666666666664
a == 152, b == 208, c == 500
average of 3 number is:  286.6666666666667

In [22]:
def average(a,b,c):
    print(f"a == {a}, b == {b}, c == {c}")
    avg = (a+b+c)/3
    print('average of 3 number is: ',avg)

average(10,20,50)
average(52,26,59)
average(152,208,500)

a == 10, b == 20, c == 50
average of 3 number is:  26.666666666666668
a == 52, b == 26, c == 59
average of 3 number is:  45.666666666666664
a == 152, b == 208, c == 500
average of 3 number is:  286.6666666666667

In [23]:
def average(a,b,c):
    print(f"a == {a}, b == {b}, c == {c}")
    avg = (a+b+c)/3
    return avg

average(10,20,50)
# average(52,26,59)
# average(152,208,500)

a == 10, b == 20, c == 50

26.666666666666668

In [26]:
def addition(a,b,c):
    print(f"a == {a}, b == {b}, c == {c}")
    add = (a+b+c)
    return add +5

addition(10,20,50)

a == 10, b == 20, c == 50

85

In [28]:
def addition(a,b,c):
    print('*'*50)
    print(f"a == {a}, b == {b}, c == {c}")
    add = (a+b+c)
    return add - 5

addition(10,20,50)

**************************************************
a == 10, b == 20, c == 50

75

In [29]:
def my_fun():
    
my_fun()

IndentationError: expected an indented block (<ipython-input-29-36deafa1f578>, line 3)

In [30]:
def my_fun():
    pass
    
my_fun()

# factorial

In [32]:
num =5
fact =1
if num <0:
    print('Factorial does not exists')
else:
    for i in range(1,num+1):
        fact*=i
    print(f"Factorial of {num} is : {fact}")

Factorial of 5 is : 120

In [39]:
num =5
fact =1
if num <0:
    print('Factorial does not exists')
else:
    for i in range(1,num+1):
        fact*=i
    print(f"Factorial of {num} is : {fact}")
    
num =9
fact =1
if num <0:
    print('Factorial does not exists')
else:
    for i in range(1,num+1):
        fact*=i
    print(f"Factorial of {num} is : {fact}")
    
num =4
fact =1
if num <0:
    print('Factorial does not exists')
else:
    for i in range(1,num+1):
        fact*=i
    print(f"Factorial of {num} is : {fact}")

num =2
fact =1
if num <0:
    print('Factorial does not exists')
else:
    for i in range(1,num+1):
        fact*=i
    print(f"Factorial of {num} is : {fact}")
    
num =7
fact =1
if num <0:
    print('Factorial does not exists')
else:
    for i in range(1,num+1):
        fact*=i
    print(f"Factorial of {num} is : {fact}")

Factorial of 5 is : 120
Factorial of 9 is : 362880
Factorial of 4 is : 24
Factorial of 2 is : 2
Factorial of 7 is : 5040

In [50]:
def factorial(num):
    fact =1
    if num <0:
        print('Factorial does not exists')
    else:
        for i in range(1,num+1):
            fact*=i
    print(f"Factorial of {num} is : {fact}")

factorial(5)
factorial(9)
factorial(4)
factorial(2)
factorial(7)

Factorial of 5 is : 120
Factorial of 9 is : 362880
Factorial of 4 is : 24
Factorial of 2 is : 2
Factorial of 7 is : 5040

# sum()

In [51]:
list1 = [3,4,5,6,7]
tuple1 = (1,2,4,5,9)
set1= {4,5,8,7}

x = sum(list1)
y = sum(tuple1)
z = sum(set1)
print(x)
print(y)
print(z)

25
21
24

In [52]:
list1 = [3,4,5,6,7]
tuple1 = (1,2,4,5,9)
set1= {4,5,8,7}

def get_sum(iterable):
    """This function is used to find sum of iterable items"""
    sum1 =0
    for i in iterable:
        sum1+=i
    return 'PYTHON'
    
x =get_sum(list1)
y =get_sum(tuple1)
z =get_sum(set1)   
    
print(x)
print(y)
print(z)

PYTHON
PYTHON
PYTHON

In [55]:
list1 = [3,4,5,6,7]
tuple1 = (1,2,4,5,9)
set1= {4,5,8,7}

def get_sum(iterable):
    """This function is used to find sum of iterable items"""
    sum1 =0
    for i in iterable:
        sum1+=i
    return i
    
x =get_sum(list1)
y =get_sum(tuple1)
z =get_sum(set1)   
    
print(x)
print(y)
print(z)

7
9
7

In [57]:
list1 = [3,4,5,6,7]
tuple1 = (1,2,4,5,9)
set1= {4,5,8,7}

def get_sum(iterable):
    """This function is used to find sum of iterable items"""
    sum1 =0
    for i in iterable:
        sum1+=i
    return sum1
    
x =get_sum(list1)
y =get_sum(tuple1)
z =get_sum(set1)   
    
print(x)
print(y)
print(z)
print(get_sum.__doc__)

25
21
24
This function is used to find sum of iterable items

In [59]:
list1 = [3,4,5,6,7]
tuple1 = (1,2,4,5,9)
set1= {4,5,8,7}

def get_sum(iterable):
    """This function is used to find sum of iterable items"""
    sum1 =0
    for i in iterable:
        sum1+=i
    print(sum1)
    return 'PYTHON'
    
x =get_sum(list1)
y =get_sum(tuple1)
z =get_sum(set1)   
    
print(x)
print(y)
print(z)
print(get_sum.__doc__)

25
21
24
PYTHON
PYTHON
PYTHON
This function is used to find sum of iterable items

In [60]:
print(get_sum.__doc__)

This function is used to find sum of iterable items

In [63]:
list1 = [3,4,5,6,7]
tuple1 = (1,2,4,5,9)
set1= {4,5,8,7}

def get_sum(iterable):
    """Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from noisy, structured and unstructured data, and apply knowledge from data across a broad range of application domains"""
    sum1 =0
    for i in iterable:
        sum1+=i
    print(sum1)
        
    return 'PYTHON'

    
x =get_sum(list1)
y =get_sum(tuple1)
z =get_sum(set1)   
    
print(x)
print(y)
print(z)
print(get_sum.__doc__)

25
21
24
PYTHON
PYTHON
PYTHON
Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from noisy, structured and unstructured data, and apply knowledge from data across a broad range of application domains

In [70]:
def calculation(iterable):
    sum1 =0
    mul = 1
    for i in iterable:
        sum1+= i
        mul*= i
    return sum1,mul

list1 = [3,4,8,6,7]
tuple1 = (1,2,4,5,9)
set1= {4,5,8,7}

s1,m1 = calculation(list1)
s1

28

In [71]:
def calculation(iterable):
    sum1 =0
    mul = 1
    for i in iterable:
        sum1+= i
        mul*= i
    return sum1,mul

list1 = [3,4,8,6,7]
tuple1 = (1,2,4,5,9)
set1= {4,5,8,7}

s1,m1 = calculation(list1)
m1

4032

In [72]:
def calculation(iterable):
    sum1 =0
    mul = 1
    for i in iterable:
        sum1+= i
        mul*= i
    return sum1,mul

list1 = [3,4,8,6,7]
tuple1 = (1,2,4,5,9)
set1= {4,5,8,7}

calculation(list1)

(28, 4032)

In [74]:
def calculation(iterable):
    sum1 =0
    mul = 1
    for i in iterable:
        sum1+= i
        mul*= i
    return sum1,mul


list1 = [3,4,8,6,7]
tuple1 = (1,2,4,5,9)
set1= {4,5,8,7}

s1,m1 = calculation(list1)
s2,m2 = calculation(tuple1)
s3,m3 = calculation(set1)

In [75]:
s3

24

In [76]:
m3

1120

In [83]:
def calculation(iterable):
    sum1 =0
    mul = 1
    for i in iterable:
        sum1+= i
        mul*= i
    return sum1,mul

list1 = [3,4,8,6,7]
tuple1 = (1,2,4,5,9)
set1= {4,5,8,7}

calculation(list1)
# calculation(tuple1)
# calculation(set1)

(28, 4032)

In [80]:
calculation(tuple1)

(21, 360)

In [81]:

calculation(set1)

(24, 1120)

In [84]:
def calculation(iterable):
    sum1 =0
    mul = 1
    for i in iterable:
        sum1+= i
        mul*= i
    return sum1,mul

print('Hello')
list1 = [3,4,8,6,7]
tuple1 = (1,2,4,5,9)
set1= {4,5,8,7}

calculation(list1)

Hello

(28, 4032)

In [85]:
def calculation(iterable):
    sum1 =0
    mul = 1
    for i in iterable:
        sum1+= i
        mul*= i
    return sum1,mul


list1 = [3,4,8,6,7]
tuple1 = (1,2,4,5,9)
set1= {4,5,8,7}

s1,m1 = calculation(list1)
s2,m2 = calculation(tuple1)
s3,m3 = calculation(set1)

print(sum1)

NameError: name 'sum1' is not defined

In [86]:
glob = 10
def calculation(iterable):
    sum1 =0
    mul = 1
    for i in iterable:
        sum1+= i
        mul*= i
    return sum1,mul


list1 = [3,4,8,6,7]
tuple1 = (1,2,4,5,9)
set1= {4,5,8,7}

s1,m1 = calculation(list1)
s2,m2 = calculation(tuple1)
s3,m3 = calculation(set1)

print(glob)

10

In [88]:

def calculation(iterable):
    local =10
    sum1 =0
    mul = 1
    for i in iterable:
        sum1+= i
        mul*= i
    return sum1,mul


list1 = [3,4,8,6,7]
tuple1 = (1,2,4,5,9)
set1= {4,5,8,7}

s1,m1 = calculation(list1)
s2,m2 = calculation(tuple1)
s3,m3 = calculation(set1)

print(local)

NameError: name 'local' is not defined

In [90]:
def calculation(iterable):
    local =10
    sum1 =0
    mul = 1
    for i in iterable:
        sum1+= i
        mul*= i
    return sum1,mul


list1 = [3,4,8,6,7]
tuple1 = (1,2,4,5,9)
set1= {4,5,8,7}

calculation(list1)

(28, 4032)