# Regular Expression

In [1]:
import re

# Regex Functions

In [ ]:
1. findall >>> list of all matches
>> special sequences \d,\D,\w,\W,\s,\S
2. sub

In [2]:
string = 'python class'

string.replace('python','Data Science')

'Data Science class'

In [3]:
string = 'python class 1234'

string.replace('1234','')

'python class '

In [4]:
string = 'python class  @'

string.replace('@','Pune')

'python class  Pune'

# 2. sub

In [ ]:
re.sub(pattern,new_string,text)

It returns a string after replacing the matches(pattern)

In [5]:
string = 'python class'
re.sub('python','Data Science',string)

'Data Science class'

In [7]:
string = 'python class 1234 at pune 1234 45679'
re.sub('[0-9]{4}','',string)

'python class  at pune  9'

In [8]:
string = 'python class 1234 at pune 1234 45679'
re.sub('[0-9]','',string)

'python class  at pune  '

In [10]:
string = 'python class 1934 at pune  45679'  #1934
re.sub(r'\b[0-9]{4}\b','',string)

'python class  at pune  45679'

In [12]:
string = 'python class 1934 at pune  45679'  #1934
re.sub(r'\b[0-9]{4}\b','',string)

'python class  at pune  45679'

In [13]:
string = 'python class 1934 at pune  45679'
re.sub(r'\b[0-9]{5}\b','',string)

'python class 1934 at pune  '

In [15]:
string = 'python and  1934 data science %$#@ 45679'
re.sub(r'[0-9]{4}\b','',string)

'python and   data science %$#@ 4'

In [17]:
string = 'python and  1934 data science %$#@ 45679'
re.sub('[^a-zA-Z]',' ',string)

'python and       data science           '

In [18]:
string = 'python and  1934 data science %$#@ 45679'
re.sub('[^a-zA-Z]+',' ',string)

'python and data science '

In [20]:
string = """Machine            learning        is a field of inquiry devoted to understanding and 
building methods that 'learn', that is,        methods that leverage data to improve 
performance               on some set of tasks. 
It is seen as a part of          artificial intelligence"""
re.sub('[^a-zA-Z]',' ',string)

'Machine            learning        is a field of inquiry devoted to understanding and  building methods that  learn   that is         methods that leverage data to improve  performance               on some set of tasks   It is seen as a part of          artificial intelligence'

In [21]:
string = """Machine            learning        is a field of inquiry devoted to understanding and 
building methods that 'learn', that is,        methods that leverage data to improve 
performance               on some set of tasks. 
It is seen as a part of          artificial intelligence"""
re.sub('[^a-zA-Z]+',' ',string)

'Machine learning is a field of inquiry devoted to understanding and building methods that learn that is methods that leverage data to improve performance on some set of tasks It is seen as a part of artificial intelligence'

## Characters with special meaning or Metacharacters

### 1. Plus (+)

In [ ]:
+ >>> one or more occurences

In [22]:
string = """Machine            learning        is a field of inquiry devoted to understanding and 
building methods that 'learn', that is,        methods that leverage data to improve 
performance               on some set of tasks. 
It is seen as a part of          artificial intelligence"""
re.sub('\s',' ',string)

"Machine            learning        is a field of inquiry devoted to understanding and  building methods that 'learn', that is,        methods that leverage data to improve  performance               on some set of tasks.  It is seen as a part of          artificial intelligence"

In [23]:
string = """Machine            learning        is a field of inquiry devoted to understanding and 
building methods that 'learn', that is,        methods that leverage data to improve 
performance               on some set of tasks. 
It is seen as a part of          artificial intelligence"""
re.sub('\s+',' ',string)

"Machine learning is a field of inquiry devoted to understanding and building methods that 'learn', that is, methods that leverage data to improve performance on some set of tasks. It is seen as a part of artificial intelligence"

In [25]:
string = 'python and data science pytthhhoonn pytthon pyttthhhhhoonn pyton pytthhoonn'
result = re.findall('python',string)
print(result,len(result))

['python'] 1

In [30]:
string = 'python and data science pythhhonn pytthon pythhhhhonn pyton pythhonn'
result = re.findall('pyth+on',string)
print(result,len(result))

['python', 'pythhhon', 'pythhhhhon', 'pythhon'] 4

In [31]:
string = 'python and data science pythhhonn pytthon pythhhhhonn pyton pythhonn'
result = re.findall('pyt+hon',string)   #python,pytthon
print(result,len(result))

['python', 'pytthon'] 2

In [32]:
string = 'python and data science pythhhonn pytthon pythhhhhonn pyton pythhonn'
result = re.findall('pyt+h+on',string)   #python,pytthon
print(result,len(result))

['python', 'pythhhon', 'pytthon', 'pythhhhhon', 'pythhon'] 5

In [33]:
string = 'python and data science pythhhonn pytthon pythhhhhonn pyton pythhonn'
result = re.findall('pyt+h+on+',string)   #python,pytthon
print(result,len(result))

['python', 'pythhhonn', 'pytthon', 'pythhhhhonn', 'pythhonn'] 5

### 2. star (*)

In [ ]:
* >>> zero or more occurances  (any occurance)

In [34]:
string = 'python and data science pythhhonn pytthon pythhhhhonn pyton pythhonn'
result = re.findall('python',string)  
print(result,len(result))

['python'] 1

In [36]:
string = 'python and data science pythhhonn pytthon pythhhhhonn pyton pythhonn'
result = re.findall('pyt+h*on',string)
print(result,len(result))

['python', 'pythhhon', 'pytthon', 'pythhhhhon', 'pyton', 'pythhon'] 6

In [37]:
string = 'python and data science pythhhonn pyhon pythhhhhonn pyton pythhonn'
result = re.findall('pyt*h+on',string)  
print(result,len(result))

['python', 'pythhhon', 'pyhon', 'pythhhhhon', 'pythhon'] 5

In [38]:
string = 'python and data science pythhhonn pyhon pythhhhhonn pyton pytttttthhonn'
result = re.findall('pyt*h+on',string)  
print(result,len(result))

['python', 'pythhhon', 'pyhon', 'pythhhhhon', 'pytttttthhon'] 5

In [41]:
string = 'python and data science pythhhonn pyhon pythhhhhonn pyton pytttttthhonn'
result = re.findall('pyt*h+on',string)  
print(result,len(result))

['pyt', 'pyt', 'py', 'pyt', 'pyt', 'pytttttt', 'py'] 7

In [43]:
string = 'python and data science pythhhonn pyhon pythhhhhonn pyton pytttttthhonn   dac'
result = re.findall('pyt*|dat*',string)  
print(result,len(result))

['pyt', 'dat', 'pyt', 'py', 'pyt', 'pyt', 'pytttttt', 'da'] 8

In [44]:
string = 'python and data science pythhhonn pyhon pythhhhhonn pyton pytttttthhonn   dac'
result = re.findall('pyt+|dat+',string)  
print(result,len(result))

['pyt', 'dat', 'pyt', 'pyt', 'pyt', 'pytttttt'] 6

In [46]:
string = 'python and data science pythhhonn pyhon pythhhhhonn pyton pytttttthhonn   dac'
result = re.sub('pyt*|dat*','-',string)  
print(result,len(result))

-hon and -a science -hhhonn -hon -hhhhhonn -on -hhonn   -c 58

In [51]:
string = 'python and data science pythhhonn pyhon pythhhhhonn pyton pytttttthhonn   dac'
result = re.sub(r'\b[pyt]*','#',string)  
print(result,len(result))

#hon# #and# #data# #science# #hhhonn# #hon# #hhhhhonn# #on# #hhonn#   #dac# 75

### 3. dot (.)

In [ ]:
dot (.) >> any char except new line       #\n

In [56]:
string = 'python and data science pythhhonn pyhon pytkon'   #pyt.on
result = re.findall('pyt.on',string)
print(result)   #python,

['python', 'pytkon']

In [57]:
string = 'python and data science pythhhonn pytjon pytkon'   #pyt.on
result = re.findall('pyt.on',string)
print(result)

['python', 'pytjon', 'pytkon']

In [58]:
string = 'python and data science pythhhonn pyt\njon pytkon'   #pyt.on
result = re.findall('pyt.on',string)
print(result)

['python', 'pytkon']

In [60]:
numbers = """994**82548
             8888888800
             9420202020
             8888575700"""
result = re.findall('99......48',numbers)
print(result)

['994**82548']

In [61]:
numbers = """9942382548
             8888888800
             9420202020
             8888575700"""
result = re.findall('99......48',numbers)
print(result)

['9942382548']

In [68]:
numbers = """994**82548
             8888888800
             9420202020
             8888575700"""
result = re.findall('8888....00',numbers)  #.   >>any char except new line 
print(result)

['8888888800', '8888575700']

In [64]:
numbers = """994**82548
             8888888800
             9420202020
             8888575700"""
result = re.findall('88885...00',numbers)
print(result)

['8888575700']

In [67]:
numbers = """994**82548
             8888888800 8888575700\n
             9420202020
             8888575700"""
result = re.findall('8888....00',numbers)
print(result)

['8888888800', '8888575700', '8888575700']

In [70]:
numbers = """994**82548
             8888888800 8888575700\n
             9420202020
             8888575700"""
result = re.findall('......5700',numbers)
print(result)

['8888575700', '8888575700']

In [71]:
numbers = """994**82548
             8888888800 8888575700\n
             9420202020
             8888575700"""
result = re.findall('9420......',numbers)
print(result)

['9420202020']

In [74]:
numbers = """994**82548
             8888888800 8888575700\n
             9\n420202020
             8888575700"""
result = re.findall('9420......',numbers)
print(result)

[]

In [76]:
string = 'python'
result = re.findall('p.',string)
print(result)

['py']

In [77]:
string = 'p9thon'
result = re.findall('p.',string)
print(result)

['p9']

In [78]:
string = 'python'
result = re.findall('p.+',string)    #one or more occurances of dot(.)>> any char
print(result)

['python']

# 4. ?

In [ ]:
? >> it matches exactly zero or one occurance

In [82]:
string = 'python and data science pythhhonn pytjon pytkon'   #pyt.on
result = re.findall('python',string)
print(result)

['python']

In [89]:
string = 'python and data science pythhhonn pytjon pytkon'   #pyt.on
result = re.findall('pyt?',string)
print(result)

['pyt', 'pyt', 'pyt', 'pyt']

In [90]:
string = 'pytthon and data science pythhhonn pytjon pyhon'   #pyt.on
result = re.findall('pyt?h+on',string)
print(result)

['pythhhon', 'pyhon']

In [91]:
string = 'python and data science pythhhonn pytjon pyhon'   #pyt.on
result = re.findall('pyt?h+on',string)
print(result)

['python', 'pythhhon', 'pyhon']

In [93]:
string = 'python and data science pythhhonn pytjon pyhon'   #pyt.on
result = re.findall('p?yh+on',string)
print(result)

['pyhon']

In [102]:
string = "batman and batwmen batwwwwwoman"
result = re.findall('batw?o?men',string)
print(result)

['batwmen']

In [103]:
string = "batman and batwman batwwwwwoman"
result = re.findall('batw*o*man',string)
print(result)

['batman', 'batwman', 'batwwwwwoman']

In [104]:
string = "batman and batwman batwwwwwoman"
result = re.findall('batw?o?man',string)
print(result)

['batman', 'batwman']

In [107]:
string = "batman and batwman batwwwwwman"
result = re.findall('batwwwwwo?man',string)
print(result)

['batwwwwwman']

In [108]:
string = "batman and batwman batwwwwwoman"
result = re.findall('batwwwwwo?man',string)
print(result)

['batwwwwwoman']

# 5. startswith(^)

In [ ]:
^ >> matches at begining / startswith

In [109]:
string = "batman and batwman batwwwwwoman"
string.startswith('batman')

True

In [110]:
string = "Batman and batwman batwwwwwoman"
string.startswith('batman')

False

In [111]:
string = "batman and batwman batwwwwwoman"
result = re.findall('^b',string)
print(result)

['b']

In [112]:
string = "batman and batwman batwwwwwoman"
result = re.findall('^B',string)
print(result)

[]

In [113]:
string = "Batman and batwman batwwwwwoman"
result = re.findall('^B',string)
print(result)

['B']

In [114]:
string = "batman and batwman batwwwwwoman"
result = re.findall('^[bB]',string)
print(result)

['b']

In [115]:
string = "Batman and batwman batwwwwwoman"
result = re.findall('^[bB]',string)
print(result)

['B']

In [116]:
string = "1.Batman and batwman batwwwwwoman"
result = re.findall('^[0-9]',string)
print(result)

['1']

In [117]:
string = "Batman and batwman batwwwwwoman"
result = re.findall('^[0-9]',string)
print(result)

[]

In [118]:
string = "1.Batman and batwman batwwwwwoman"
result = re.findall('^[0-9a-zA-Z]',string)
print(result)

['1']

In [119]:
string = "Batman and batwman batwwwwwoman"
result = re.findall('^[0-9a-zA-Z]',string)
print(result)

['B']

# 6. endswith($)

In [ ]:
$ >>>matches at the end /endswith

In [121]:
string = 'python'
result = re.findall('n$',string)
result

['n']

In [122]:
string = 'pythoN'
result = re.findall('n$',string)
result

[]

In [123]:
string = 'python'
result = re.findall('r$',string)
result

[]

In [124]:
string = 'python class'
result = re.findall('^p.*s$',string)
result

['python class']

In [125]:
string = 'python and data science'
result = re.findall('^p.*e$',string)
result

['python and data science']

In [126]:
string = 'python and data science'
result = re.findall('^[ab].*e$',string)
result

[]

In [127]:
string = 'apython and data science'
result = re.findall('^[ab].*e$',string)
result

['apython and data science']

In [128]:
string = 'python and data science'
result = re.findall('^[\w].*e$',string)
result

['python and data science']