# Characters with special meaning

In [ ]:
1. plus (+) one or more occurances
2. star (*) zero or more occurances
3. dot (.)  any char except new line
4. (?)     exactly zero or one occurance
5. startswith (^)
6. endswith ($)

In [2]:
import re
string = 'python and data science'
string.endswith('e')

True

In [3]:
result = re.findall('e$',string)
print(result)

['e']

In [4]:
string = 'python and data'
result = re.findall('[a-zA-Z]$',string)
print(result)

['a']

In [6]:
string = 'python and data sciencE'
result = re.findall('[a-zA-Z]$',string)
print(result)

['E']

In [ ]:
7. or (|) #pipe symbol

In [7]:
string = "cat in house"
'cat' in string

True

In [8]:
'rat' in string

False

In [12]:
string = "cat in house catches the rat"
'rat' in string

True

In [13]:
result = re.findall('cat | rat',string)
print(result)

['cat ', ' rat']

In [14]:
dates = """30-08-20222
        30/08/2022
        30.08.2022
        30 Aug 2022"""

result = re.findall('\d{2}[-/.]\d{2}[-/.]\d{4}',dates)
print(result)

['30-08-2022', '30/08/2022', '30.08.2022']

In [16]:
dates = """30-08-20222
        30/08/2022
        30 Sept 2022
        30 Aug 2022"""

result = re.findall('\d{2}\s[a-zA-Z]{3,5}\s\d{4}',dates)
print(result)

['30 Sept 2022', '30 Aug 2022']

In [19]:
dates = """30-08-20222
        30/08/2022
        30.08.2022
        30 Sept 2022
        30 Aug 2022"""

result = re.findall('\d{2}[-/.]\d{2}[-/.]\d{4}|\d{2}\s[a-zA-Z]{3,5}\s\d{4}',dates)
print(result)

['30-08-2022', '30/08/2022', '30.08.2022', '30 Sept 2022', '30 Aug 2022']

In [20]:
var1 = "python and data science"

result =  re.findall('python|science|data',var1)
print(result)

['python', 'data', 'science']

# 9. ()  group of character

In [21]:
string = """123-345-5678
            456-7856 
            987-458-3685"""

result = re.findall('\d{3}[-]\d{3}[-]\d{4}',string)
print(result)

['123-345-5678', '987-458-3685']

In [22]:
string = """(123)-345-5678
            456-7856 
            (987)-458-3685"""

result = re.findall('\d{3}[-]\d{3}[-]\d{4}',string)
print(result)

[]

In [23]:
string = """(123)-345-5678
            456-7856 
            (987)-458-3685"""

result = re.findall(r'\(\d{3}\)[-]\d{3}[-]\d{4}',string)     #\
print(result)

['(123)-345-5678', '(987)-458-3685']

In [24]:
string = """(123)-345-5678
            456-7856 
            (987)-458-3685"""

result = re.findall('(\d{3})[-]\d{3}[-]\d{4}',string)     #\
print(result)

[]

In [25]:
string = """(123)-345-5678
            456-7856 
            (987)-458-3685"""

result = re.findall(r'(\d{3})[-]\d{3}[-]\d{4}',string)     #\
print(result)

[]

In [26]:
string = """(123)-345-5678
            456-7856 
            (987)-458-3685"""

result = re.findall(r'\(\d{3}\)[-]\d{3}[-]\d{4}',string)     #\
print(result)

['(123)-345-5678', '(987)-458-3685']

In [27]:
string = """Mobile Numbers are:
            (+91) 9858654578
            (+91) 8857421585
            """
mo_num = re.findall(r'\([+]\d{2}\)\s\d{10}',string)
print(mo_num)

['(+91) 9858654578', '(+91) 8857421585']

In [28]:
string = """Mobile Numbers are:
            (+91) 985865457
            (+91) 8857421585
            """
mo_num = re.findall(r'\([+]\d{2}\)\s\d{10}',string)
print(mo_num)

['(+91) 8857421585']

In [29]:
string = """Mobile Numbers are:
            (+91) 985865457
            (+91) 885742158
            """
mo_num = re.findall(r'\([+]\d{2}\)\s\d{10}',string)
print(mo_num)

[]

# Regular Expression Function

In [ ]:
1. findall
2. sub
3. search

# 3. Search

In [ ]:
It will return an object of first occurance only

In [32]:
string = "Python and data science python and ml"
result =re.search('python',string)
result

In [33]:
string = "python and data science python and ml"
result =re.search('python',string)
result

In [34]:
string = "python and data science python and ml"
result =re.search('and',string)
result

In [39]:
string = "python AND data science python and ml"
result =re.search('and',string)

if result:
    print(result.group())
    print(result.start())
    print(result.end())

and
31
34

In [42]:
string = "python and data science python and ml"
result =re.search('python',string)
result

In [44]:
if result:
    print(result.group())
    print(result.start())
    print(result.end())
    print(result.span())

python
0
6
(0, 6)

In [45]:
string = "Python and data science python and ml"
result =re.search('python',string)

if result:
    print(result.group())
    print(result.start())
    print(result.end())
    print(result.span())

python
24
30
(24, 30)

In [47]:
string = """Mobile Numbers are:
            (+91) 9858654578
            (+91) 8857421588
            """
mo_num = re.search(r'\([+]\d{2}\)\s\d{10}',string)

if mo_num:
    print(mo_num.group())
    print(mo_num.start())
    print(mo_num.end())
    print(mo_num.span())

(+91) 9858654578
32
48
(32, 48)

In [48]:
string = """Mobile Numbers are:
            (+91) 985865457
            (+91) 8857421588
            """
mo_num = re.search(r'\([+]\d{2}\)\s\d{10}',string)

if mo_num:
    print(mo_num.group())
    print(mo_num.start())
    print(mo_num.end())
    print(mo_num.span())

(+91) 8857421588
60
76
(60, 76)

# 4. Match

In [ ]:
It searches for match at begining of string and return an object of first occurance only

In [51]:
string = 'python and data science'

result = re.match(r'python',string)
result.group()
if result:
    print(result.group())
    print(result.start())
    print(result.end())
    print(result.span())

python
0
6
(0, 6)

In [53]:
string = ' python and data science'

result = re.match(r'python',string)
result

In [54]:
string = 'python and data science python'

result = re.match(r'python',string)
result.group()
if result:
    print(result.group())
    print(result.start())
    print(result.end())
    print(result.span())

python
0
6
(0, 6)

In [57]:
string = 'Machine learning and data science python'

result = re.match(r'Machine',string)
result.group()
if result:
    print(result.group())
    print(result.start())
    print(result.end())
    print(result.span())

Machine
0
7
(0, 7)

In [63]:
string = 'machine learning and data science python'

result = re.match(r'Machine',string)

if result:
    print(result.group())
    print(result.start())
    print(result.end())
    print(result.span())
else:
    print("match not found")

match not found

In [64]:
string = """89589587458"""

result = re.match('\d{11}',string)
if result:
    print(result.group())
    print(result.start())
    print(result.end())
    print(result.span())
else:
    print("match not found")

89589587458
0
11
(0, 11)

In [65]:
string = """895895874"""

result = re.match('\d{11}',string)
if result:
    print(result.group())
    print(result.start())
    print(result.end())
    print(result.span())
else:
    print("match not found")

match not found

# 5. compile

In [ ]:
regular expressions are compiled into pattern object.
it is used to avoid rewritting of pattern

In [73]:
string1 = ' 987-125-4356'
string2 = ' 451-4356'
string3 = ' 987-125-4351'
string4 = ' 856-524-9874'
string5 = ' 305-951-7536'

result1 = re.search('\d{3}[-]\d{3}[-]\d{4}',string1)
if result1:
    print(result1.group())
result2 = re.search('\d{3}[-]\d{4}',string2)
if result2:
    print(result2.group())

987-125-4356
451-4356

In [71]:
pattern = re.compile(r'\d{3}[-]\d{3}[-]\d{4}')
result1 = pattern.search(string1)
# result2 = pattern.search(string2)
# result3 = pattern.search(string3)
result4 = pattern.search(string4)
result5 = pattern.search(string5)
print(result1.group())
# print(result2.group())
# print(result3.group())
print(result4.group())
print(result5.group())

987-125-4356
856-524-9874
305-951-7536

In [74]:
pattern = re.compile(r'(\d{3}[-])?\d{3}[-]\d{4}\b')
result1 = pattern.search(string1)
result2 = pattern.search(string2)
result3 = pattern.search(string3)
result4 = pattern.search(string4)
result5 = pattern.search(string5)
print(result1.group())
print(result2.group())
print(result3.group())
print(result4.group())
print(result5.group())

987-125-4356
451-4356
987-125-4351
856-524-9874
305-951-7536

# 6. split

In [ ]:
split string by the occurance of character or pattern

In [75]:
string = "python and data science machine learning"
string.split()

['python', 'and', 'data', 'science', 'machine', 'learning']

In [76]:
string = "python 1 and 2 data 3 science 4 machine learning"
string.split('1')

['python ', ' and 2 data 3 science 4 machine learning']

In [77]:
string = "python 1 and 2 data 3 science 4 machine learning"
string.split('and')

['python 1 ', ' 2 data 3 science 4 machine learning']

In [78]:
string = "python 1 and 2 data 3 science 4 machine learning"
re.split('\d',string)

['python ', ' and ', ' data ', ' science ', ' machine learning']

In [80]:
string = "python 1 and 2 data 3 science 4 machine 5 learning 6 velocity 7 class"
result = re.split('\d',string)
print(result)

['python ', ' and ', ' data ', ' science ', ' machine ', ' learning ', ' velocity ', ' class']

In [81]:
string = "python 1 and 2 data 3 science 4 machine 5 learning 6 velocity 7 class"
result = re.split('\d',string,maxsplit=3)
print(result)

['python ', ' and ', ' data ', ' science 4 machine 5 learning 6 velocity 7 class']

In [82]:
string = "python 1 and 2 data 3 science 4 machine 5 learning 6 velocity 7 class"
result = re.split('\d',string,maxsplit=0)
print(result)

['python ', ' and ', ' data ', ' science ', ' machine ', ' learning ', ' velocity ', ' class']

In [83]:
string = "python 1 and 2 data 3 science 4 machine 5 learning 6 velocity 7 class"
result = re.split('\d',string,maxsplit=2)
print(result)

['python ', ' and ', ' data 3 science 4 machine 5 learning 6 velocity 7 class']