In [1]:
import numpy as np
import pandas as pd

In [ ]:
1. Detect Missing Values:
    1. df.isna()
    2. df.isnull()
    3. df.isna().sum()
    3. df.isna().mean()*100
    4. df.isnull().sum()
    
    
2. Drop Null values:
    1. df.dropna(thresh=count,axis=0,inplace=False)
    2. df.drop('cil_name',axis=1,inplace=True)
    3. df.drop([col1,col2,,,,,colN],axis=1,inplace=True)
    4. df.drop('row_name',axis=0,inplace=True)
    5. df.drop(['row1,row2,...rowN'],axis=0,inplace=True)

3. Impute missing values:
    1. df.fillna(value,inplace=True)
    
    Statistical Methods:
        1. df['col_name'].mean()
        2. df['col_name'].median()
        3. df['cil_name'].mode()[0]
        
mean  >> If the outliters are not present in data  
median >>> If outliers are present in data
mode   >>> categorical columns
          (male, feamle)

# Pandas Statistics

In [ ]:
1. df['col_name'].mean()
2. df['col_name'].median()
3. df['col_name'].mode()[0]
4. df['col_name'].std()
5. df['col_name'].var()
6. df['col_name'].min()
7. df['col_name'].max()
8. df['col_name'].quantile(0.25)
9. df['col_name'].quantile(0.5)  #median value
10 df['col_name'].quantile(0.75)

In [ ]:
quantile >>> quantity
it is the point where samples are divided into two subgroups

In [ ]:
[1,2,3,4,5,6,7,8,9,10]  median=5.5    
the median quantile or 50% or 0.5 quantile >>> exactly half of data is lower than median
and half of data is greater than median

In [ ]:
quant= q(n+1)
q=== 0.5
q=0.25 for 25%
q= 0.75

In [2]:
arr=np.random.randint(11,21,size=10)
arr

array([17, 15, 20, 14, 11, 18, 18, 19, 17, 17])

In [3]:
np.sort(arr)

array([11, 14, 15, 17, 17, 17, 18, 18, 19, 20])

In [10]:
#0.25 or 25% quantile
0.5*(11)

5.5

In [7]:
df=pd.DataFrame(arr)
df

    0
0  17
1  15
2  20
3  14
4  11
5  18
6  18
7  19
8  17
9  17

In [12]:
df.quantile(0.10)

0    13.7
Name: 0.1, dtype: float64