In [1]:
import numpy as np
import pandas as pd

In [ ]:
pd.get_dummies(df,columns=['col1','col2'],prefix='')

In [2]:
df=pd.read_csv('movies_data.csv')
df

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [3]:
df['genre'].unique()

array(['Crime', 'Action', 'Drama', 'Western', 'Adventure', 'Biography',
       'Comedy', 'Animation', 'Mystery', 'Horror', 'Film-Noir', 'Sci-Fi',
       'History', 'Thriller', 'Family', 'Fantasy'], dtype=object)

In [4]:
df['genre'].nunique()

16

In [6]:
df['genre'].value_counts().to_dict()

{'Drama': 278,
 'Comedy': 156,
 'Action': 136,
 'Crime': 124,
 'Biography': 77,
 'Adventure': 75,
 'Animation': 62,
 'Horror': 29,
 'Mystery': 16,
 'Western': 9,
 'Sci-Fi': 5,
 'Thriller': 5,
 'Film-Noir': 3,
 'Family': 2,
 'History': 1,
 'Fantasy': 1}

In [ ]:
gender >>> male, female   >>>  male= 0  >>> female= 1

In [ ]:
categorical data:
    ordinal data>>> high , medium, low  
    nominal data >>>  Drama, Action, Horror .......

In [7]:
df['genre'].replace({'Drama': 1,
                     'Comedy': 2,
                     'Action': 3,
                     'Crime': 4,
                     'Biography': 5,
                     'Adventure': 6,
                     'Animation': 7,
                     'Horror': 8,
                     'Mystery': 9,
                     'Western': 10,
                     'Sci-Fi': 11,
                     'Thriller': 12,
                     'Film-Noir': 13,
                     'Family': 14,
                     'History': 15,
                     'Fantasy': 16})

0      4
1      4
2      4
3      3
4      4
      ..
974    2
975    6
976    3
977    8
978    4
Name: genre, Length: 979, dtype: int64

In [ ]:
get_dummies >>>> one vs others

In [9]:
s=pd.Series(list('abcda'))
s

0    a
1    b
2    c
3    d
4    a
dtype: object

In [10]:
pd.get_dummies(s)

   a  b  c  d
0  1  0  0  0
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1
4  1  0  0  0

In [23]:
genre_df=pd.get_dummies(df['genre'],prefix='GE')
genre_df

,GE_Action,GE_Adventure,GE_Animation,GE_Biography,GE_Comedy,GE_Crime,GE_Drama,GE_Family,GE_Fantasy,GE_Film-Noir,GE_History,GE_Horror,GE_Mystery,GE_Sci-Fi,GE_Thriller,GE_Western
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
975,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
976,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
977,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
978,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [12]:
df

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [14]:
content_df=pd.get_dummies(df['content_rating'])
content_df

,APPROVED,G,GP,NC-17,NOT RATED,PASSED,PG,PG-13,R,TV-MA,UNRATED,X
0,0,0,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
974,0,0,0,0,0,0,1,0,0,0,0,0
975,0,0,0,0,0,0,1,0,0,0,0,0
976,0,0,0,0,0,0,0,1,0,0,0,0
977,0,0,0,0,0,0,1,0,0,0,0,0
978,0,0,0,0,0,0,0,0,1,0,0,0

In [16]:
content_df=pd.get_dummies(df['content_rating'],prefix='CR')
content_df

,CR_APPROVED,CR_G,CR_GP,CR_NC-17,CR_NOT RATED,CR_PASSED,CR_PG,CR_PG-13,CR_R,CR_TV-MA,CR_UNRATED,CR_X
0,0,0,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
974,0,0,0,0,0,0,1,0,0,0,0,0
975,0,0,0,0,0,0,1,0,0,0,0,0
976,0,0,0,0,0,0,0,1,0,0,0,0
977,0,0,0,0,0,0,1,0,0,0,0,0
978,0,0,0,0,0,0,0,0,1,0,0,0

In [17]:
pd.get_dummies(df,columns=['content_rating','genre'])

,star_rating,title,duration,actors_list,content_rating_APPROVED,content_rating_G,content_rating_GP,content_rating_NC-17,content_rating_NOT RATED,content_rating_PASSED,...,genre_Drama,genre_Family,genre_Fantasy,genre_Film-Noir,genre_History,genre_Horror,genre_Mystery,genre_Sci-Fi,genre_Thriller,genre_Western
0,9.3,The Shawshank Redemption,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9.2,The Godfather,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,9.1,The Godfather: Part II,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9.0,The Dark Knight,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,8.9,Pulp Fiction,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974,7.4,Tootsie,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
975,7.4,Back to the Future Part III,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
976,7.4,Master and Commander: The Far Side of the World,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
977,7.4,Poltergeist,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...",0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
978,7.4,Wall Street,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
content_df

,CR_APPROVED,CR_G,CR_GP,CR_NC-17,CR_NOT RATED,CR_PASSED,CR_PG,CR_PG-13,CR_R,CR_TV-MA,CR_UNRATED,CR_X
0,0,0,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
974,0,0,0,0,0,0,1,0,0,0,0,0
975,0,0,0,0,0,0,1,0,0,0,0,0
976,0,0,0,0,0,0,0,1,0,0,0,0
977,0,0,0,0,0,0,1,0,0,0,0,0
978,0,0,0,0,0,0,0,0,1,0,0,0

In [19]:
genre_df

,Action,Adventure,Animation,Biography,Comedy,Crime,Drama,Family,Fantasy,Film-Noir,History,Horror,Mystery,Sci-Fi,Thriller,Western
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
975,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
976,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
977,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
978,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [20]:
df

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [24]:
new_df=pd.concat([df,genre_df,content_df],axis=1)
new_df.drop(['content_rating','genre'],axis=1)

,star_rating,title,duration,actors_list,GE_Action,GE_Adventure,GE_Animation,GE_Biography,GE_Comedy,GE_Crime,...,CR_GP,CR_NC-17,CR_NOT RATED,CR_PASSED,CR_PG,CR_PG-13,CR_R,CR_TV-MA,CR_UNRATED,CR_X
0,9.3,The Shawshank Redemption,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
1,9.2,The Godfather,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2,9.1,The Godfather: Part II,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,9.0,The Dark Knight,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,8.9,Pulp Fiction,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974,7.4,Tootsie,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...",0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
975,7.4,Back to the Future Part III,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
976,7.4,Master and Commander: The Far Side of the World,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
977,7.4,Poltergeist,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...",0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
978,7.4,Wall Street,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0