# Pandas

In [1]:
import pandas as pd
import numpy as np

In [ ]:
Two data Structure:
    1. Series >> 1D
    2. DatFrame >> 2D

# Create Dataframe

In [ ]:
1. list
2. tuple
3. numpy array
4. series
5. dictionary
6. csv
7. excel
8. JSON

# Access Columns and Rows

In [ ]:
df['col_name'] #series
df[col_list]


iloc:
    df.iloc[row_index,col_index]
    df.iloc[row_index_list,col_index_list]
    df.iloc[2:10:2,2:4]
    df.iloc[2:10,2,5]
    
    
loc:
    df.loc[row_label,col_label]
    df.loc[row_label_list,col_label_list]
    
df.head()# default first 5 rows
df.tail() # default last 5 rows
df.head(10)#  first 10 rows
df.tail(15) # last 15 rows
df.columns  #column list
df.index  # row list
df.axes   # both

## Access rows and columns by using for loop

In [ ]:
1. df.iterrows()  # access rows iteration >> row_name ,data
2. df.items()  # columns  >>> col_name,data
3. df.iteritems() # columns  >>> col_name,data

# All information about DF

In [ ]:
1. df.shape  #(rows, columns)
    df.shape[0] >> rows
    df.shape[1] >> col
2. df.dtypes
3. df.select_dtypes()
4. df.info()
5. df.describe()

# Handling Missing Values

In [ ]:
1. Detect missing values:
    1. df.isna()
    2. df.isnull()
    3. df.isna().sum()
    4. df.isnull().sum()
    5. df.isna().mean()*100
    6. df.isnull().mean()*100
    
2. Drop Null Values:
    1. df.dropna(axis=0,thresh)
    2. df.dropna(axis=1,thresh)
    3. df.drop('col_name',axis=1,inplace=True)
    4. df.drop('row_name', axis=0)
    
3. Fill missing value:
    1. df.fillna()

# Statistics

In [ ]:
Series:
    1. df['col_name'].mean()
    2. df['col_name'].median()
    3. df['col_name'].mode()[0]
    4. df['col_name'].std()
    5. df['col_name'].var()
    6. df['col_name'].max()
    7. df['col_name'].min()
    8. df['col_name'].quantile(0.25)
    9. df['col_name'].quantile(0.5)
    10. df['col_name'].quantile(0.75)
    
DataFrame:
    1.df.mean()
    2.df.median()
    3. df.mode()[0]
    4. df.std()
    5. df.var()
    6. df.min()
    7. df.max()

# sorting

In [ ]:
1. df.sort_index()
2. df.sort_values()
3. df.set_index()
4. df.reset_index()

# Pandas other functions

In [ ]:
1. df['col_name'].unique()
2. df['col_name'].nunique()
3. df['col_name'].value_counts()
4. pd.crosstab(df[col1],df[col2])
5. rename:
    df.rename(dict,axis=0,inplace=True)
    df.rename(dict,axis=1,inplace=True)
6. replace:
    df.replace(dictionary)
    df['col_name'].replace(dict)
    
7. df.insert(col_index,col_name,values) #values >> list tuple series array
8. df.drop_duplicates()
9. groupby:
    1. df.groupby.groups()
    2. df.groupby.groups.keys()
    3. df.groupby.first()
    4. df.groupby('col_name').get_group('value')
    5. df.groupby(['col_1','col2']).get_group(('value1','value2'))
    
10. apply:
    df.apply(function_name)
    df['col'].apply(fun_name)
11. pd.get_dummies()  #one vs other  # one hot encoding

12. Dataframe to:
    1. df.to_numpy()
    2. df.values
    3. df.to_numpy().tolist()
    4. df.values.tolist()

# loc

In [ ]:
1. df.loc[condition]
2. df.loc[df['col1']==100]
3. df.loc[df['col1']==100
         & df.loc[df['col1']==200]]

3. df.loc[df['col'].isin(list)]
4. df.loc[df['col'].isin(list)] |df.loc[df['col'].isin(list)]

# Read and Write Data

In [ ]:
1. readdata:
    1. pd.read_csv
    2. pd.read_excel
    3. pd.read_json
    
2. Write:
    1. df.to_csv
    2. df.to_excel()
    3. df.to_dict
    4. df.to_json
    
3. write excel file with multiple sheet:
    1. writer=pd.ExcelWriter()
    2. df.to_excel(writer)
    3. df.to_excel(writer)
    4. writer.save()

## Join Dataframes

In [ ]:
1. append:
    df1.append(df2,ignore_index=True)
2. concat:
    pd.concat([df1,df2...],axis=0,join='outer',ignore_index=False,sort=False)
    pd.concat(df_list,axis=1,join='inner',ignore_index=False,sort=False) 
    
3. merge:
    1. left_df.merge(right_df)
    2. pd.merge(l_df,r_df,how='inner',on='col_name',suffixes=('_df1','_df2'))
    
4. join:
    left_df.join(right_df,how='inner',lsuffix='_df1',rsuffix='_df2')
    
joins>> ['inner','outer','left','right']