In [1]:
import pickle
import pandas as pd

In [6]:
with open('OneHot.pkl','rb')as f:
    one_hot_enc=pickle.load(f)

one_hot_enc

[OneHotEncoder(dtype=<class 'int'>), OneHotEncoder(dtype=<class 'int'>)]

In [3]:
x_test=pd.DataFrame({'CITY':['Pune','Delhi']})
x_test

    CITY
0   Pune
1  Delhi

In [5]:
x_test_df=pd.DataFrame(one_hot_enc.transform(x_test).toarray(),columns=one_hot_enc.categories_)
x_test_df

  Delhi Kolkata Mumbai Pune
0     0       0      0    1
1     1       0      0    0