## Strings

### String Creation

In [2]:
str1= "Hello Python"
print(str1)

Hello Python

In [4]:
mystr='Hello world'   # Define strings using single quotes
print(mystr)

Hello world

In [6]:
mystr="Hello World"   # define strings using double quotes
print(mystr)

Hello World

In [8]:
mystr= '''Hello 
            world'''  # Define strings using triple quotes
print(mystr)

Hello
            world

In [12]:
mystr= """Hello
          world"""  #Define strings using triple double quotes
print(mystr)

Hello
          world

In [15]:
mystr = ('Happy '
        'Monday '
        'Everyone ')
print(mystr)

Happy Monday Everyone

In [17]:
mystr2= 'HAHAHA '
mystr2=  mystr2*5
print(mystr2)

HAHAHA HAHAHA HAHAHA HAHAHA HAHAHA

In [18]:
len(mystr2)

35

###  String Indexing

In [19]:
#  0   1   2   3   4   5  6  7  8  9  10  11   - Forword indexing
#  H   E   L   L   O      P  Y  T  H  O   N    - Object
# -12 -11 -10 -9  -8  -7 -6 -5 -4 -3 -2  -1    - Backword Indexing

In [20]:
str1

'Hello Python'

In [22]:
str1[0]  # First character in string "str1"

'H'

In [23]:
str1[len(str1)-1] # last charecter in string using len function using python

'n'

In [24]:
str1[-1]  # last charecter in string

'n'

In [25]:
str1[6]  # fetch 7 th element of string

'P'

In [26]:
str1[5]

' '

### String Slicing

In [43]:
str1[:]

'Hello Python'

In [27]:
str1[0:5] # Fetch all from 0 to 5 index excl.6th

'Hello'

In [29]:
str1[6:12]  # Retrive all from 6 to 12 excl. 5th

'Python'

In [30]:
str1[-4:]   # retrive last four charecter of the string

'thon'

In [54]:
str1[:1]  # str  till 1st charecter   i.e 1-1 =0'th index

'H'

In [55]:
str1[:2]  # str  till 2st charecter  i.e 1-1 = 1st index

'He'

In [46]:
str1[:3]   # str  till 3st charecter i.e 3-1 = 2nd index

'Hel'

In [48]:
str1[:11]  # str  till 11st charecter  i.e 11-1 = 10th index

'Hello Pytho'

In [49]:
str1[1:]   # str starting from 1st charecter onwords excl. zeroth index

'ello Python'

In [50]:
str1[2:]   # str starting from  2nd charecter onwards excl 0th and 1st index

'llo Python'

In [52]:
str1[3:]    # str starting from 3rd charecter onwards excl 0th and 1st and 2nd index

'lo Python'

In [53]:
str1[11:]    # str starting from 11th charecter onwards excl 0th and 1st to 10th index

'n'

In [56]:
str1[-1:]    # till str at index -1   i.e last charecter of str   or

'n'

In [57]:
str1[-2:]    # till str at index -2   i.e last charecter of str   or

'on'

In [60]:
str1[-6:]   # retrive last six charecter of the string        or

'Python'

In [61]:
str1[:-1]   #      all char. excl. -1

'Hello Pytho'

In [66]:
str1[:-7]      # all char excl till -7

'Hello'

###  Update and Delete String

In [67]:
str1

'Hello Python'

In [68]:
# strings are immutable which means elements of a string cannot be changed 
str1[0:5]='HOLLA'

TypeError: 'str' object does not support item assignment

In [69]:
del str1  # del a string
print(str1)

NameError: name 'str1' is not defined

###  String Concatenation

In [71]:
# String concatenation
s1= "Hello"
s2= "Prashant"
s3= s1 + s2
print(s3)

HelloPrashant

In [73]:
# string concatenation
s1= "Hello"
s2= " "
s3= "Prashant"
s4= s1 + s2 + s3
print(s4)

Hello Prashant

###  Iterating through a string

In [78]:
mystr1= "Hello Everyone"

In [79]:
# Iteration 
for i in mystr1:
    print (i)

H
e
l
l
o

E
v
e
r
y
o
n
e

In [80]:
for i in enumerate(mystr1):      # enumerate add counter to the iteration 
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'E')
(7, 'v')
(8, 'e')
(9, 'r')
(10, 'y')
(11, 'o')
(12, 'n')
(13, 'e')

In [81]:
list(enumerate(mystr1))    # above for loop and this list are giving same output.

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'E'),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, 'o'),
 (12, 'n'),
 (13, 'e')]

### String Membership

In [85]:
# String membership

mystr1= "Hello Everyone"

print("Hello" in mystr1)   # Check that substring "Hello" is present in string
print("Everyone" in mystr1)  # check that substring 'Everyone' is present in string
print("Hi" in mystr1)   # Check that substring 'Hi' is present in string

True
True
False

###  String Partitioning

In [86]:
"""
The partition () method searches for a specified string and splits the string into 
-The first element contains the part before the argument string.
- The second element contains the argument string.
- The third element contains the part after the argument string.
"""

str5= "Natural language processing with  Python and R and JAVA"

l= str5.partition("and")
print(l)

('Natural language processing with  Python ', 'and', ' R and JAVA')

In [87]:
"""
The rpartition () method searches for a last occurance of a string and splits into three elements
-The first element contains the part before the argument string.
- The second element contains the argument string.
- The third element contains the part after the argument string.
"""

str5= "Natural language processing with  Python and R and JAVA"

l= str5.rpartition("and")
print(l)

('Natural language processing with  Python and R ', 'and', ' JAVA')

### String Functions

In [90]:
mystr2="   Hello Everyone   "
mystr2

'   Hello Everyone   '

In [91]:
mystr2.strip()  # removes white spaces from begining and end

'Hello Everyone'

In [92]:
mystr2.lstrip()  # removes all spaces at the begining of the string

'Hello Everyone   '

In [93]:
mystr2.rstrip()  # removes all spaces at the end of the string

'   Hello Everyone'

In [95]:
mystr2="**************Hello Everone**************All the best*****************"
mystr2

'**************Hello Everone**************All the best*****************'

In [97]:
mystr2.strip('*')  # remove * at end and begining of the string

'Hello Everone**************All the best'

In [98]:
mystr2.lstrip('*')   # remove all * at the begining

'Hello Everone**************All the best*****************'

In [100]:
mystr2.rstrip('*')   # remove all * at the end

'**************Hello Everone**************All the best'

In [101]:
mystr2= "   Hello Everyone     "

In [102]:
mystr2.lower()  # return whole string in lowercase

'   hello everyone     '

In [103]:
mystr2.upper()  # return whole string in upper case

'   HELLO EVERYONE     '

In [106]:
mystr2.replace("He", "Ho")   # replace substring 'He' by ' Ho'

'   Hollo Everyone     '

In [110]:
mystr2.replace (" ","")  # remove all whitespaces using replace function

'HelloEveryone'

In [111]:
mystr5= "one two three one two two three"

In [112]:
mystr5.count("one")  # Number of times substring "one" occured in string

2

In [113]:
mystr5.count("two")  # number of times substring "two"  ocuured in string

3

In [115]:
mystr5.startswith("one")  # return boolean value true if it start with "one"

True

In [116]:
mystr5.endswith("three")  #return boolean value true if string ends with "three"

True

In [117]:
mystr4= "one two three four two three five six seven one"

In [119]:
mylist= mystr4.split()  # split stringinto substrings 
mylist

['one', 'two', 'three', 'four', 'two', 'three', 'five', 'six', 'seven', 'one']

In [125]:
#Combining string and numbers using format methods
item1= 40
item2=55
item3=77

res= "Cost of item1  , item2 and item 3 are {}  , {}  and {}"
print(res.format(item1,item2,item3))

Cost of item1  , item2 and item 3 are 40  , 55  and 77

In [126]:
#Combining string and numbers using format methods
item1= 40
item2=55
item3=77

res= "Cost of item1  , item2 and item 3 are {2}  , {1}  and {0}"
print(res.format(item1,item2,item3))

Cost of item1  , item2 and item 3 are 77  , 55  and 40