#### Arithmatic operations

In [1]:
1+2

3

In [2]:
2-1

1

In [3]:
2*3

6

In [4]:
4/2

2.0

In [5]:
4//2

2

### Boolean

In [6]:
True or False

True

In [7]:
True | False

True

In [8]:
a=10
b=20
a+b>30 or a-b<10

True

#### Strings

In [9]:
type('prashant is good boy')

str

In [10]:
str1="A good boy"
str2="A bad boy"

In [11]:
print(str1)
print(str2)

A good boy
A bad boy

In [12]:
str1+"  "+ str2

'A good boy  A bad boy'

In [13]:
name=input("Enter your name")
print(name)

Enter your name Prashant
 Prashant

#### Typecasting

In [14]:
str(1)

'1'

#### Input functions

In [15]:
#### Add two numbers
a=float(input("Enter number 1-   "))   # Remember input function always take it in string format .You need to use float
b=float(input("Enter number 2-   "))     #outside the the bracket so that it will make addition opertion and not concatanation operation. 
c=a+b
print("The output is =   ",c)

Enter number 1-   34
Enter number 2-   45
The output is =    79.0

In [18]:
#### string formatting
first_name = input("What is your first name  ")
second_name = input("What is your last name  ")
print( "My first name is {firstname} and last name is {lastname}".format(firstname=first_name,lastname=second_name))

What is your first name  Prahant
What is your last name  Khairnar
My first name is Prahant and last name is Khairnar

#### Variable Dynamic Typing

In [19]:
a=10.0
type(a)

float

In [21]:
a='Prashant'
type(a)

str

####  Conditional Statements

In [33]:
# if and elif
a=int(input("Enter the number1?  "))
b=int(input("Enter the number2?  "))
c=a-b
print("The output is",c)
if c<0:
    print("The number is negative")
elif c>40:
    print("The difference is huge")
else:
    print("The number is positive")

Enter the number1?  66
Enter the number2?  34
The output is 32
The number is positive

#### Data Structures

In [35]:
#Type of data structures
#1.list
#2.tuple
#3.string
#4.Dictionary
#5.Sets

In [36]:
lst=[1,2,3,'Prashant','Khairnar']

In [37]:
lst[3]

'Prashant'

In [38]:
type(lst[3])

str

In [39]:
lst[4]

'Khairnar'

In [43]:
lst[3]+" " + lst[4]

'Prashant Khairnar'

In [44]:
lst[2]-lst[1]

1

In [46]:
lst.append("Hello")

In [47]:
lst

[1, 2, 3, 'Prashant', 'Khairnar', 'Hello']

In [48]:
lst.append("Hello")

In [49]:
lst

[1, 2, 3, 'Prashant', 'Khairnar', 'Hello', 'Hello']

In [50]:
lst.count("Hello")

2

In [51]:
##Indexing

In [52]:
str1="Prashant"
str1[3]

's'

In [55]:
str1[3]='i'   # You can not change the elements inside the string ,it means string does not allow item assignment
                #So String is immutable. Whereas We can change is list .So List are mutuable.

TypeError: 'str' object does not support item assignment